{% load static %}

<div class="content-modal modal-azmayesh-raygan">
    <div class="inner-modal">
        <form method="POST" action="" class="px-4 pt-2">
            <div class="py-2">
                <div class="title">
                    <div id="close-modal-azmayesh" role="button">
                        <img src="{% static 'images/icons/close.png' %}" alt="Close button">
                    </div>
                    <div style="font-size: 1.5em;">ارسال آزمایش</div>
                </div>
                <label class="uploade-imge">
                    <span class="item-upload" role="button">
                        تصویر آزمایش
                    </span>
                    <input type="file" hidden>
                </label>
                <textarea name="modal" class="input-modal" id="des-azmayesh" cols="30" rows="7" placeholder="توضیخات خود را بنویسید"></textarea>
            </div>
            <div class="btn-modal" id="btn-add-azmayesh">
                <button type="submit" class="btn-sabt-post">
                    ثبت
                </button>
            </div>
        </form>
    </div>
</div>