{% load static %}

<div class="content-modal modal-rotin">
    <div class="inner-modal">
        <form class="px-4 pt-2">
            <div class="py-2">
                <div class="title">
                    <div id="close-modal-rotin" role="button">
                        <img src="{% static 'images/icons/close.png' %}" alt="Close button">
                    </div>
                    <div>روتین پوستی</div>
                </div>
                <div class="imge">
                    <img src="{% static 'images/icons/skin-routine.png' %}" alt="Routine icon">
                </div>
                <div class="date-rotin-list" id="routinnotif">
                    <div class="rotin-item">
                        روتین
                    </div>
                </div>
            </div>
            <div class="btn-modal">
                <div class="btn-sabt-post">
                    ثبت
                </div>
            </div>
        </form>
    </div>
</div>
