{% extends 'dashboard/base/base_template.html' %}
{% load static %}
{% load render_partial %}

{% block Title %}
    داشبورد کارتکس والا | {{ user.get_full_name }}
{% endblock %}

{% block Content %}
    <div id="main-wrapper">
        {% include 'dashboard/components/base/header.html' %}
        {% include 'dashboard/components/base/menu.html' %}
        {% render_partial 'apps.dashboard.components.views.DashboardMain' %}
        {% include 'dashboard/components/base/footer.html' %}
    </div>


{% endblock %}