{% load static %}


<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <title>{% block title %}{% endblock %}</title>
    {% include 'includes/head-references.html' %}

    <!-- Extra styles or links -->
    {% block styles %}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

    {% block content %}
    {% endblock %}


    <!-- Scripts -->
    <script src="{% static 'vendors/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'vendors/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'vendors/sweetalert-base.js' %}"></script>
    <script src="{% static 'js/jquery_3.7.0.min.js' %}"></script>
    <script src="{% static 'vendors/persian-date.js' %}"></script>
    <script src="{% static 'vendors/persian-datepicker.js' %}"></script>

    <!-- Create notify for messages -->
    <script>
        {% for message in messages %}
            Toast.fire({
                icon: '{{ message.tags }}',
                title: `{{ message }}`,
            })
        {% endfor %}
    </script>

    <!-- Extra js -->
    {% block scripts %}
    {% endblock %}
</body>

</html>
