{% extends 'dashboard/base/base_template.html' %}
{% load static %}
{% load render_partial %}

{% block Title %}
    تغییر رمز عبور
{% endblock %}

{% block Content %}
    <div id="main-wrapper">
        {% include 'dashboard/components/base/header.html' %}
        {% render_partial 'apps.dashboard.components.views.DashboardMenu' %}
        <div class="content-body">
            <div class="container-fluid">
                <div class="mb-sm-4">
                    <h2 class="font-w600 mb-2 me-auto">تغییر رمز عبور</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'dashboard:index' %}">داشبورد</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a>اطلاعات شخصی</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="">تغییر رمز عبور </a>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">تغییر رمز عبور </h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <form action="{% url 'account:user_change_password' %}" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="mb-3 col-md-12">
                                                <div class="mb-3 col-md-12">
                                                    <label class="form-label">
                                                        رمز فعلی
                                                        <span class="field-required">*</span>
                                                    </label><input type="password"
                                                                                                        name="current_password"
                                                                                                        class="form-control"
                                                                                                        placeholder="xxx-xxx"
                                                                                                        required>
                                                </div>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label">
                                                      رمز عبور جدید
                                                    <span class="field-required">*</span>
                                                </label><input type="password"
                                                                                                     name="new_password"
                                                                                                     class="form-control"
                                                                                                     placeholder="xxx-xxx"
                                                                                                     required>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label">
                                                     تکرار رمز عبور جدید
                                                    <span class="field-required">*</span>
                                                </label><input type="password"
                                                                                                     name="new_password2"
                                                                                                     class="form-control"
                                                                                                     placeholder="xxx-xxx"
                                                                                                     required>
                                            </div>
                                        </div>
                                        <div style="text-align: left">
                                            <a href="{% url 'account:reset_password' %}" class="btn btn-outline-dark light mt-2 font-95">بازیابی رمز عبور</a>
                                            <button type="submit" class="btn btn-success px-5 mt-2">تغییر رمز عبور</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'dashboard/components/base/footer.html' %}
    </div>
{% endblock %}
