{% extends 'account/dashboard/components/base/base_template.html' %}

{% block Title %}
    لیست کاربران
{% endblock %}


{% block Content %}
    {% include 'account/dashboard/components/base/nav.html' %}

    <section class="main_content dashboard_part large_header_bg">
        {% include 'account/dashboard/components/base/header.html' %}
        <div class="main_content_iner">
            <div class="container-fluid p-0 ">
                <div class="col-lg-12">
                    <div class="white_card mb_30">
                        <div class="white_card_header">
                            <div class="box_header m-0">
                                <div class="main-title">
                                    <h3 class="m-0">لیست کاربران</h3>
                                </div>
                            </div>
                            <div class="breadcrumb">
                                <ul>
                                    <li>
                                        <a href="{% url 'account:dashboard' %}">داشبورد</a>
                                    </li>
                                    <li>
                                        <a href="">کاربران</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="white_card_body">
                            <div class="card-body">
                                <div class="text-right mb-3">
                                    <a href="{% url 'account:user_add' %}" class="btn btn-outline-success font-70">افزودن
                                        کاربر</a>
                                </div>
                                <div class="mt-4 mb-5">
                                    <form action="{% url 'account:user_list' %}">
                                        <div class="cnt-search col-11 col-md-8">
                                            <input type="text" name="search"
                                                   placeholder="نام کاربر ، شماره همراه ، ایمیل و.."
                                                   value="{{ request.GET.search }}">
                                            <div>
                                                {% if request.GET.search %}
                                                    <a class="text-danger font-80" style="margin-left: 8px;"
                                                       href="{% url 'account:user_list' %}">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                {% endif %}
                                                <button>
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="list-row">
                                    <div class="title-list-row">
                                        <div class="col-3">
                                            نام و نام خانوادگی
                                        </div>
                                        <div class="col-2">
                                            شماره همراه
                                        </div>
                                        <div class="col-3">
                                            ایمیل
                                        </div>
                                        <div class="col-2">
                                            امتیاز کل
                                        </div>
                                        <div class="col-1">
                                            اخرین بازدید
                                        </div>
                                    </div>
                                    {% for user in users %}
                                        <div class="detail-row">
                                            <div class="col-3">
                                                <a href="{{ user.get_absolute_url }}">
                                                    {{ user.get_full_name|default:'بدون نام' }}
                                                </a>
                                            </div>
                                            <div class="col-2">
                                                {{ user.get_raw_phonenumber }}
                                            </div>
                                            <div class="col-3 font-80">
                                                {{ user.email|truncatechars:15|default:'-' }}
                                            </div>
                                            <div class="col-2 font-80">
                                                {{ user.get_scores }}
                                            </div>
                                            <div class="col-1 font-70 datetime-convert">
                                                {{ user.get_last_login|default:'-' }}
                                            </div>
                                        </div>
                                    {% empty %}
                                        <div class="container-not-found-base">
                                            <p>کاربری یافت نشد</p>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="pagination">
                                    <div class="step-links">
                                        {% if pagination.has_previous %}
                                            <span class="pagination-previous">
                                                <a href="?page=1">اول</a><a
                                                    href="?page={{ pagination.previous_page_number }}">قبلی</a>
                                            </span>
                                        {% endif %}
                                        <span class="current">
                                        صفحه  {{ pagination.number }} از {{ pagination.paginator.num_pages }}
                                        </span>

                                        {% if pagination.has_next %}
                                            <span class="pagination-next">
                                                <a href="?page={{ pagination.next_page_number }}">بعدی</a><a
                                                    href="?page={{ pagination.paginator.num_pages }}">اخر</a>
                                            </span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'account/dashboard/components/base/footer.html' %}
    </section>
{% endblock %}








