<div class="modal fade" tabindex="-1" id="deletePostCommentModal" aria-labelledby="deletePostCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form method="POST" action="{% url 'public:delete_post_comment' %}" class="modal-content text-white border-white border-1"
              style="background-color: #2d2c2c;">
            {% csrf_token %}
            <div class="modal-header">
                <h4 class="modal-title fw-semibold">حذف کامنت</h4>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column form-group">
                    <input type="hidden" name="pk" id="commentId" value="-1">
                    <span class="h5">آیا از حذف این کامنت اطمینان دارید؟</span>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-light fw-semibold" data-bs-dismiss="modal" aria-label="Close">بستن</button>
                <button type="submit" class="btn btn-danger fw-semibold">بله، حذف</button>
            </div>
        </form>
    </div>
</div>
