{% extends 'base-template.html' %}
{% load static %}


{% block title %}والا | آزمایش ها{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/test.css' %}">
{% endblock %}

{% block content %}
    {% include 'menus.html' %}

    <!-- Start Add test modal -->
    <div class="modal fade" tabindex="-1" id="addTestModal" aria-labelledby="addTestModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <form method="POST" action="{% url 'operation:add_test' %}" enctype="multipart/form-data" class="modal-content text-white border-white border-1 rounded-3"
                  style="background-color: #2d2c2c;">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title fw-semibold h4">ثبت آزمایش جدید</h5>
                    <i role="button" class="bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></i>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="user" value="{{ user.pk }}">
                    <div class="d-flex flex-column form-group">
                        <label class="form-label" style="font-size: 16px;">
                            فایل/تصویر آزمایش
                            <input type="file" name="file" accept=".pdf, image/*" class="form form-control mt-1 bg-light" required>
                        </label>
                    </div>
                    <div class="d-flex flex-column form-group">
                        <label class="form-label" style="font-size: 16px;">
                            عنوان آزمایش
                            <input type="text" name="title" class="form form-control mt-1" required style="background-color: #e1e1e1;">
                        </label>
                    </div>
                    <div class="d-flex flex-column form-group">
                        <label class="form-label" style="font-size: 16px;">
                            توضیحات مربوطه
                            <textarea name="text" class="form form-control mt-1" cols="5" style="background-color: #e1e1e1;" required></textarea>
                        </label>
                    </div>
                </div>
                <div class="modal-footer border-top-0">
                    <button type="button" class="btn btn-light fw-semibold rounded-3" data-bs-dismiss="modal" aria-label="Close">بستن</button>
                    <button type="submit" class="btn btn-light fw-semibold rounded-3">ارسال</button>
                </div>
            </form>
        </div>
    </div>
    <!-- .End Add test modal -->

    <div class="container-fluid col-md-11 bg">
        <div class="d-flex justify-content-between gap-3 px-md-5 px-3 pt-4">
            <div></div>
            {% if not user.has_admin_access %}
                <div>
                    <button class="btn btn-light fw-semibold" data-bs-toggle="modal" data-bs-target="#addTestModal">
                        ثبت آزمایش
                    </button>
                </div>
            {% endif %}
        </div>

        <main class="main pb-5">
            <section class="p-md-5 p-3 row" id="container-tickets">

                {% for test in tests %}
                    <div class="col-md-6 col-12 mb-4 test-card">
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-column position-relative p-3 test-card-header">
                                {% if test.status == 'answered' %}
                                    <div class="bg-success text-white fw-semibold px-3 py-1 test-card-state">
                                        پاسخ داده
                                    </div>
                                {% else %}
                                    <div class="bg-danger text-white fw-semibold px-3 py-1 test-card-state">
                                        بی پاسخ
                                    </div>
                                {% endif %}
                                <h4 style="font-weight: 600;">{{ test.title }}</h4>
                            </div>

                            <div class="d-flex justify-content-between align-items-center gap-2 text-white px-3 pt-3 pb-2 test-card-body">
                                <div class="d-flex gap-md-5 gap-4">
                                    <div class="d-flex flex-column fw-semibold">
                                        <span>کاربر:</span>
                                        <span class="text-wrap">{{ test.user.get_full_name }}</span>
                                    </div>
                                    <div class="d-flex flex-column fw-semibold">
                                        <span>شناسه:</span>
                                        <span class="convert-digits">{{ test.id }}</span>
                                    </div>
                                    <div class="d-flex flex-column fw-semibold">
                                        <span>تاریخ:</span>
                                        <span class="datetime-convert">{{ test.get_date_created }}</span>
                                    </div>
                                </div>

                                <div class="d-flex flex-wrap gap-2">
                                    <a href="{{ test.get_absolute_url }}" class="btn btn-sm btn-success fw-semibold">مشاهده</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="container-not-found-base p-4 fs-4">
                        <p>آزمایشی ثبت نشده</p>
                    </div>
                {% endfor %}

            </section>
        </main>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/menus.js' %}"></script>
{% endblock %}
