{% extends 'account/dashboard/components/base/base_template.html' %}
{% load static %}
{% load custom_tags %}

{% block Title %}
    داشبورد | ادمین
    {{ user.get_full_name }}
{% endblock %}

{% block Style %}
    <style>

        #chart-building-payment-user {
            margin: 10px;
            margin-right: auto;
            margin-left: auto;
            display: block;
            height: 100%;
            width: 95%;
        }

        .notification {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            margin: 15px 0;
            box-shadow: 0 3px 4px rgba(238, 238, 238, 0.4);
        }

        .notification-des {
            font-size: 80%;
            padding: 3px 7px;
            border-radius: 5px;
            color: #235ad2 !important;
            background: linear-gradient(to left, #fafeff 85%, rgba(255, 255, 255, 0));
        }

        .notification-des a {
            color: inherit;
        }

        .notification-time {
            color: #999;
            font-size: 65%;
        }

        .notification-time i {
            color: #ffe289;
        }


    </style>
{% endblock %}

{% block Content %}

    {% include 'account/dashboard/components/base/nav.html' %}

    <section class="main_content dashboard_part large_header_bg">
        {% include 'account/dashboard/components/base/header.html' %}
        <div class="main_content_iner">
            <div class="container-fluid p-0 ">
                <div id="container-index">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single_element">
                                <div class="quick_activity">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="quick_activity_wrap">
                                                {% for building in buildings|slice:':4' %}
                                                    <div class="single_quick_activity">
                                                        <div class="count_content">
                                                            <p>
                                                                <a class="text-primary"
                                                                   href="{{ building.get_absolute_url }}">{{ building.name }}</a>
                                                            </p>
                                                            <span class="font-60 mb-2 d-block text-mute">جمع پرداختی ها</span>
                                                            <h3>
                                                                <span class="counter price-el">{{ building.get_payments }}</span>
                                                                تومان
                                                            </h3>
                                                        </div>
                                                        <a href="#" class="notification_btn bg-secondary">
                                                            <span class="price-el">{{ building.get_receipts.count }}</span>
                                                            <i class="fa fa-file text-white"></i>
                                                        </a>
                                                        <div id="bar{{ forloop.counter }}" class="barfiller my-2">
                                                            <div class="tipWrap">
                                                                <span class="tip"></span>
                                                            </div>
                                                            <span class="fill"
                                                                  data-percentage="{{ building.progress_percentage }}"></span>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="white_card card_height_100 mb_30">
                                <div class="white_card_header">
                                    <div class="box_header m-0">
                                        <div class="main-title">
                                            <h3 class="m-0">نمودار پرداختی ساختمان ها</h3>
                                        </div>
                                        <div class="header_more_tool">
                                            <div class="dropdown">
                                                <a href="{% url 'receipt:receipt_dashboard_list' %}">
                                                    <i class="fa fa-angle-left p-1"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="white_card_body p-0">
                                    <div class="text-center" style="width: 80%;margin: auto; position: relative;">
                                        <canvas id="chart-building-payment-user"
                                                building-names="{{ building_names|escape }}"
                                                building-payments="{{ building_payments|escape }}"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single_element">
                                <div class="quick_activity">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="quick_activity_wrap">

                                                <div class="single_quick_activity">
                                                    <div class="count_content">
                                                        <a href="{% url 'account:user_list' %}">
                                                            <span class="mb-2 d-block text-mute">تعداد کاربران</span>
                                                        </a>
                                                        <h3>
                                                            <span class="font-s-35 price-el">{{ users.count }}</span>
                                                        </h3>
                                                    </div>
                                                    <a href="#" class="notification_btn bg-primary">
                                                        <i class="fa fa-users font-s-20 text-white"></i>
                                                    </a>
                                                </div>

                                                <div class="single_quick_activity">
                                                    <div class="count_content">
                                                        <a href="{% url 'account:user_financial_list' %}">
                                                            <span class="mb-2 d-block text-mute">تعداد ادمین ها</span>
                                                        </a>
                                                        <h3>
                                                            <span class="font-s-35 price-el">{{ admins.count }}</span>
                                                        </h3>
                                                    </div>
                                                    <a href="#" class="notification_btn bg-danger">
                                                        <i class="fa fa fa-user-tie font-s-20 text-white"></i>
                                                    </a>
                                                </div>

                                                <div class="single_quick_activity">
                                                    <div class="count_content">
                                                        <a href="{% url 'receipt:receipt_dashboard_list' %}">
                                                            <span class="mb-2 d-block text-mute">تعداد رسید ها</span>
                                                        </a>
                                                        <h3>
                                                            <span class="font-s-35 price-el">{{ receipts.count }}</span>
                                                        </h3>
                                                    </div>
                                                    <a href="#" class="notification_btn bg-success">
                                                        <i class="fa fa-file font-s-20 text-white"></i>
                                                    </a>
                                                </div>

                                                <div class="single_quick_activity">
                                                    <div class="count_content">
                                                        <a href="{% url 'receipt:building_dashboard_list' %}">
                                                            <span class="mb-2 d-block text-mute">تعداد ساختمان ها</span>
                                                        </a>
                                                        <h3>
                                                            <span class="font-s-35 price-el">{{ buildings.count }}</span>
                                                        </h3>
                                                    </div>
                                                    <a href="#" class="notification_btn bg-dark">
                                                        <i class="fa fa-building font-s-20 text-white"></i>
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12 col-xl-8">
                            <div class="white_card mb_30 card_height_100">
                                <div class="white_card_header">
                                    <div class="box_header m-0">
                                        <div class="main-title">
                                            <h3 class="m-0">جدید ترین رسید ها</h3>
                                        </div>
                                        <div class="header_more_tool">
                                            <div class="dropdown">
                                                <a href="{% url 'receipt:receipt_dashboard_list' %}">
                                                    <i class="fa fa-angle-left p-1"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="white_card_body">
                                    <div class="table-responsive">
                                        <table class="table bayer_table m-0">
                                            <tbody>
                                            {% for receipt in receipts|slice:':8' %}
                                                <tr style="border: hidden;">
                                                    <td>
                                                        <div class="payment_gatway">
                                                            <h5 class="byer_name f_s_16 f_w_600 color_theme">{{ receipt.building.name }}</h5>
                                                            <p class="font-70 f_w_600 text-center p-0 bg-{{ receipt.get_status }}"
                                                               style="width: 70px">{{ receipt.get_status_label }}</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="payment_gatway text-end">
                                                            <h5 class="byer_name  f_s_16 f_w_600 color_theme price-el">
                                                                {{ receipt.amount }}
                                                            </h5>
                                                            <p class="color_gray f_s_12 f_w_600 text-left font-80">
                                                                تومان</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="payment_gatway">
                                                            <a href="{{ receipt.get_absolute_url }}"
                                                               class="font-size-14">
                                                                مشاهده
                                                                <i class="far fa-arrow-alt-circle-left"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-4">
                            <div class="white_card mb_30 card_height_100">
                                <div class="white_card_header">
                                    <div class="box_header m-0">
                                        <div class="main-title">
                                            <h3 class="m-0">اعلانات شخصی</h3>
                                        </div>
                                        <div class="header_more_tool">
                                            <a href="{% url 'notification:notification_dashboard_user_personal_list' %}">
                                                <i class="fa fa-angle-left p-1"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="white_card_body">
                                    <div class="row">
                                        <div class="col-12">
                                            {% for notification in user.get_notifications|slice:':10' %}
                                                <div class="notification">
                                                    <div>
                                                        <p class="notification-des">
                                                            <a href="{{ notification.get_absolute_url }}">{{ notification.description|truncatechars:25 }}</a>
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <p class="notification-time">
                                                            {{ notification.get_created_at_timepast }}
                                                            <i class="fa fa-clock"></i>
                                                        </p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="text-center mt-4 font-80">
                                            <a href="{% url 'notification:notification_dashboard_user_personal_list' %}"
                                               class="text-primary">
                                                مشاهده همه
                                                <i class="fa fa-bell"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="white_card card_height_100 mb_30 QA_section">
                                <div class="white_card_header">
                                    <div class="box_header m-0">
                                        <div class="main-title">
                                            <h3 class="m-0">لیست کاربران</h3>
                                        </div>
                                        <div class="header_more_tool">
                                            <a href="{% url 'account:user_list' %}">
                                                <i class="fa fa-angle-left"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="white_card_body">
                                    <div class="QA_table table-responsive ">

                                        <table class="table pt-0">
                                            <thead>
                                            <tr>
                                                <th scope="col">نام و نام خانوادگی</th>
                                                <th scope="col">شماره همراه</th>
                                                <th scope="col">ایمیل</th>
                                                <th scope="col">اخرین بازدید</th>
                                                <th scope="col">جزئیات</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for user in users|slice:':8' %}
                                                <tr>
                                                    <td>
                                                        {{ user.get_full_name|truncatechars:20 }}
                                                    </td>
                                                    <td>
                                                        {{ user.get_raw_phonenumber }}
                                                    </td>
                                                    <td class="nowrap">
                                                        {{ user.get_email|truncatechars:15 }}
                                                    </td>
                                                    <td class="nowrap datetime-convert">
                                                        {{ user.get_last_login }}
                                                    </td>
                                                    <td>
                                                        <a class="font-85 text-primary"
                                                           href="{{ user.get_absolute_url }}">
                                                            بیشتر
                                                            <i class="fa fa-angle-left"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% empty %}
                                                <tr>
                                                    <td colspan="20">
                                                        <div class="container-not-found-base">
                                                            <p>کاربری یافت نشد</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if user.is_super_admin %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="white_card card_height_100 mb_30 QA_section">
                                    <div class="white_card_header">
                                        <div class="box_header m-0">
                                            <div class="main-title">
                                                <h3 class="m-0">لیست ادمین ها</h3>
                                            </div>
                                            <div class="header_more_tool">
                                                <a href="{% url 'account:user_financial_list' %}">
                                                    <i class="fa fa-angle-left"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="white_card_body">
                                        <div class="QA_table table-responsive ">

                                            <table class="table pt-0">
                                                <thead>
                                                <tr>
                                                    <th scope="col">نام و نام خانوادگی</th>
                                                    <th scope="col">شماره همراه</th>
                                                    <th scope="col">ایمیل</th>
                                                    <th scope="col">اخرین بازدید</th>
                                                    <th scope="col">جزئیات</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for user in admins|slice:':8' %}
                                                    <tr>
                                                        <td>
                                                            {{ user.get_full_name|truncatechars:20 }}
                                                        </td>
                                                        <td>
                                                            {{ user.get_raw_phonenumber }}
                                                        </td>
                                                        <td class="nowrap">
                                                            {{ user.get_email|truncatechars:15 }}
                                                        </td>
                                                        <td class="nowrap datetime-convert">
                                                            {{ user.get_last_login }}
                                                        </td>
                                                        <td>
                                                            <a class="font-85 text-primary"
                                                               href="{{ user.get_absolute_url }}">
                                                                بیشتر
                                                                <i class="fa fa-angle-left"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% empty %}
                                                    <tr>
                                                        <td colspan="20">
                                                            <div class="container-not-found-base">
                                                                <p>ادمینی یافت نشد</p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
        {% include 'account/dashboard/components/base/footer.html' %}
    </section>


{% endblock %}





