<div id="container-users" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg col-lg-12">
        <div class="modal-content white_card mb_30">
            <div class="white_card_header border-0">
                <div class="modal-header box_header m-0">
                    <h3 class="m-0">انتخاب کاربر</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="white_card_body">
                <p class="font-70">برای انتخاب کاربر بر روی کاربر مورد نظر کلیک کنید</p>
                <div class="card-body pt-0">
                    <div class="text-right mb-3">
                        <a href="{% url 'account:user_add' %}"
                           class="btn btn-outline-success mt-4 font-70 d-inline-block py-2">اضافه کردن کاربر</a>
                    </div>
                    <div>
                        <form id="form-search-users-component" action="{% url 'account:user_list_component_search' %}">
                            <div class="cnt-search col-11 mx-auto mb-4 mt-4">
                                <input type="text" name="search"
                                       placeholder="نام کاربر ، شماره همراه ، ایمیل و.." value="">
                                <div>
                                    <button>
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="list-row" style="max-height: 400px;overflow-y: auto;overflow-x: hidden">
                        <div class="title-list-row">
                            <div class="col-4">نام و نام خانوادگی</div>
                            <div class="col-4">شماره همراه</div>
                            <div class="col-4">ایمیل</div>
                        </div>
                        <div id="users-select">
                            {% for user in users %}
                                <div class="user-select detail-row" user-id="{{ user.id }}">
                                    <div class="col-4" full-name>
                                        {{ user.get_full_name|truncatechars:20 }}
                                    </div>
                                    <div class="col-4">
                                        {{ user.get_raw_phonenumber }}
                                    </div>
                                    <div class="col-4">
                                        {{ user.get_email|truncatechars:20 }}
                                    </div>
                                </div>
                            {% empty %}
                                <div class="container-not-found-base">
                                    <p>کاربری یافت نشد</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="pagination">
                        <div class="step-links">
                            {% if pagination.has_previous %}
                                <span class="pagination-previous">
                                                <a href="?page=1">اول</a><a
                                        href="?page={{ pagination.previous_page_number }}">قبلی</a>
                                            </span>
                            {% endif %}
                            <span class="current">
                                        صفحه  {{ pagination.number }} از {{ pagination.paginator.num_pages }}
                                        </span>

                            {% if pagination.has_next %}
                                <span class="pagination-next">
                                                <a href="?page={{ pagination.next_page_number }}">بعدی</a><a
                                        href="?page={{ pagination.paginator.num_pages }}">اخر</a>
                                            </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>