<div class="modal fade" tabindex="-1" id="editPassModal" aria-labelledby="editPassModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form method="POST" action="{% url 'account:edit_password' %}" class="modal-content text-white border-white border-1 rounded-4"
              style="background-color: #2d2c2c;">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title fw-semibold h4">تغییر گذرواژه</h5>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column form-group">
                    <label class="form-label" style="font-size: 16px;">
                        گذرواژه فعلی
                        <input type="password" name="password1" class="form form-control rounded-3 mt-1 font-monospace"
                               style="background-color: #e1e1e1;" required>
                    </label>
                    <label class="form-label" style="font-size: 16px;">
                        گذرواژه جدید
                        <input type="password" name="password2" class="form form-control rounded-3 mt-1 font-monospace" minlength="4"
                               style="background-color: #e1e1e1;" required>
                    </label>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-light fw-semibold rounded-3" data-bs-dismiss="modal" aria-label="Close">بستن</button>
                <button type="submit" class="btn btn-light fw-semibold rounded-3">ذخیره</button>
            </div>
        </form>
    </div>
</div>
