<div class="modal fade" tabindex="-1" id="editPassModal" aria-labelledby="editPassModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form method="POST" action="{% url 'account:edit_password' %}" class="modal-content bg-secondary shadow-lg text-white">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title fw-semibold">تغییر گذرواژه</h5>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column form-group">
                    <label class="form-label" style="font-size: 16px;">
                        گذرواژه فعلی
                        <input type="password" name="password1" class="form form-control rounded-3 mt-1 font-monospace" required>
                    </label>
                    <label class="form-label" style="font-size: 16px;">
                        گذرواژه جدید
                        <input type="password" name="password2" class="form form-control rounded-3 mt-1 font-monospace" required minlength="4">
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger fw-semibold" data-bs-dismiss="modal" aria-label="Close">بستن</button>
                <button type="submit" class="btn btn-success fw-semibold">ذخیره</button>
            </div>
        </form>
    </div>
</div>
