{% load custom_tags %}
<div class="content-body">
    <div class="container-fluid">
        <div class="mb-sm-4">
            <h2 class="font-w600 mb-2 me-auto"> جلسه - {{ meeting.number_id }}</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard:index' %}">داشبورد</a>
                </li>
                <li class="breadcrumb-item">
                    <a>جلسات</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'cartex:meeting__list' %}">لیست جلسات</a>
                </li>
                <li class="breadcrumb-item">
                    <a href=""> جلسه {{ meeting.number_id }}</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-xxl-6 col-lg-7">
                {% with user=meeting.user %}
                    <div class="card">
                        <div class="card-body d-flex">
                            <div class="icon me-3">
                                <a href="{{ user.get_dashboard_absolute_url }}">
                                    <img style="width: 70px;height:70px;border-radius: 50%;object-fit: cover"
                                         src="{{ user.get_picture_profile_url }}"
                                         alt="{{ user.get_full_name }}"
                                         title="{{ user.get_full_name }}">
                                </a>
                            </div>
                            <div>
                                <p class="mb-1 font-120 font-weight-bold">
                                    کاربر
                                </p>
                                <div class="text-center">
                                    <h4>
                                        <a href="{{ user.get_dashboard_absolute_url }}"
                                           class="badge badge-primary light">
                                            {{ user.get_full_name }}
                                            <span class="font-80">
                                                        ({{ user.get_raw_phonenumber }})
                                                    </span>
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            </div>
            <div class="col-xxl-6 col-lg-5">
                <div class="card">
                    <div class="card-body d-flex">
                        <div class="icon me-3">
                            <i class="far fa-clipboard"></i>
                        </div>
                        <div>
                            <div class="mb-1">
                                <p class=" mb-0 font-120 font-weight-bold">
                                    تعداد جلسات
                                </p>
                                <p class="font-70 text-muted">
                                    تعداد جلسات شما با این کاربر
                                </p>
                            </div>
                            <div class="text-center col-12">
                                <h3>
                                    {% call_method meeting.user 'get_count_meetings_with_operator' meeting.operator %}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>نواحی</h4>
                        <h3>
                            <i class="far fa-child"></i>
                        </h3>
                    </div>
                    <div class="card-body areas-body">
                        {% for area in meeting.get_areas %}

                            {% if meeting.operator == request.user %}
                                <div class="modal fade modal-delete-object-area-{{ area.id }}" tabindex="-1"
                                     style="display: none;"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <form action="{% url 'cartex:area_body__delete' area_id=area.id %}"
                                              method="post">
                                            {% csrf_token %}
                                            <div class="modal-content">
                                                <div class="modal-header d-flex justify-content-between">
                                                    <h3 class="modal-title">حذف ناحیه</h3>
                                                    <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5>
                                                        ایا از حذف ناحیه
                                                        <b>{{ area.area_name }}</b>
                                                        اطمینان دارید ؟
                                                        پس از حذف امکان بازگردانی وجود ندارد
                                                    </h5>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn" data-bs-dismiss="modal">لغو
                                                    </button>
                                                    <button type="submit" class="btn btn-danger light">بله حذف
                                                        ناحیه
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="area-body col-12 col-md-5 col-lg-5 col-xl-3">
                                <form action="{% url 'cartex:area_body__update' area_id=area.id %}"
                                      method="post">
                                    {% csrf_token %}
                                    <div>
                                        <div class="area-body-header">
                                            <p>{{ area.area_name }}</p>
                                            {% if meetings.operator == request.usuer %}
                                                <div class="btn-actions">
                                                    <button class="btn btn-danger light" type="button"
                                                            data-bs-toggle="modal"
                                                            data-bs-target=".modal-delete-object-area-{{ area.id }}">
                                                        حذف
                                                    </button>
                                                    <button class="btn btn-success light" type="button" btn-edit>
                                                        ویرایش
                                                    </button>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="area-content">
                                            <div>
                                                <label for="">شدت</label>
                                                <input type="text" class="form-control" placeholder="شدت"
                                                       value="{{ area.intensity }}" required disabled
                                                       name="intensity">
                                            </div>
                                            <div>
                                                <label for="">توضیحات</label>
                                                <textarea type="text" class="form-control" placeholder="توضیحات"
                                                          required disabled
                                                          name="note">{{ area.note }}</textarea>
                                            </div>
                                        </div>
                                        <div class="area-footer">
                                            <button class="btn btn-success">
                                                ثبت و بروزرسانی
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>جزئیات</h4>
                        <h3>
                            <i class="far fa-book"></i>
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="detail">
                            <div class="detail-field">
                                <span>کد رهگیری</span>
                                <p>
                                    {{ meeting.number_id }}
                                </p>
                            </div>
                            <div class="detail-field">
                                <span>کاربر</span>
                                <p>
                                    <a class="badge light badge-primary"
                                       href="{{ meeting.user.get_dashboard_absolute_url }}">
                                        {{ meeting.user.get_full_name }}
                                        <span>({{ meeting.user.get_raw_phonenumber }})</span>
                                    </a>
                                </p>
                            </div>
                            <div class="detail-field">
                                <span>توضیحات</span>
                                <p>
                                    {{ meeting.description|default:'توضیحی ثبت نشده است' }}
                                </p>
                            </div>
                            <div class="detail-field">
                                <span>زمان ایجاد</span>
                                <p>
                                    {{ meeting.get_created_at_timepast }}
                                    <span class="font-95">({{ meeting.get_created_at }})</span>
                                </p>
                            </div>
                            <div class="detail-field">
                                <span>زمان شروع جلسه</span>
                                <p>
                                    {{ meeting.get_time_start|default:'ثبت نشده است' }}
                                </p>
                            </div>
                            <div class="detail-field">
                                <span>زمان پایان جلسه</span>
                                <p>
                                    {{ meeting.get_time_end|default:'ثبت نشده است' }}
                                </p>
                            </div>
                            <div class="detail-field">
                                <span>تعداد نواحی</span>
                                <p>
                                    {{ meeting.get_areas.count }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"> برخی دیگر از جلسات این کاربر</h5>
                        <div>
                            <a href="{{ meeting.user.get_meetings_absolute_url }}">
                                مشاهده همه
                                <i class="far fa-angle-left"></i>
                            </a>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-responsive-md table-center">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="no-sorting">کد رهگیری</th>
                                    <th>اپراتور</th>
                                    <th>تعداد نواحی</th>
                                    <th>زمان ایجاد</th>
                                    <th class="no-sorting">مشاهده</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for meeting in meeting.user.get_meetings|slice:':8' %}
                                    <tr>
                                        <td>
                                            {{ forloop.counter }}
                                        </td>
                                        <td class="font-95">
                                            <a href="{{ meeting.get_absolute_url }}">
                                                {{ meeting.number_id }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ meeting.operator.get_absolute_url }}"
                                               class="badge badge-info light">{{ meeting.operator.get_full_name }}
                                                <span class="font-80">
                                                        {{ meeting.operator.get_raw_phonenumber }}
                                                    </span></a>
                                        </td>
                                        <td>{{ meeting.get_areas.count }}</td>
                                        <td>{{ meeting.get_created_at_timepast }}</td>
                                        <td>
                                            <a href="{{ meeting.get_absolute_url }}"
                                               class="btn btn-outline-secondary py-1">
                                                <i class="far fa-arrow-left"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="100">
                                            <div class="container-not-found-base">
                                                <p>جلسه ای یافت نشد</p>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-delete-object" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{% url 'cartex:meeting__delete' meeting_id=meeting.id %}"
              method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between">
                    <h3 class="modal-title">حذف جلسه</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <h5>ایا از حذف جلسه
                        <b>{{ meeting.number_id }}</b>
                        اطمینان دارید ؟</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">لغو</button>
                    <button type="submit" class="btn btn-danger light">بله حذف جلسه</button>
                </div>
            </div>
        </form>
    </div>
</div>