{% load static %}

<div class="menu-bottom">
    <ul class="list-bottom">
        {% with request.resolver_match.url_name as url_name %}
            <li class="item-bottom {% if url_name == 'index' %}active{% endif %}">
                <a href="{% url 'public:index' %}" class="item">
                    <img src="{% static 'images/icons/home.png' %}" alt="icon">
                    <div class="text-white" style="font-size: 8px;">خانه</div>
                </a>
            </li>
            <li class="item-bottom {% if url_name == 'profile_details' %}active{% endif %}">
                <a href="{% url 'account:profile_details' user.pk %}">
                    <img src="{% static 'images/icons/profile.png' %}" alt="icon">
                    <div class="text-white" style="font-size: 8px;">پروفایل</div>
                </a>
            </li>
            <li class="item-bottom">
                <a href="#">
                    <img src="{% static 'images/icons/podcast.png' %}" alt="icon">
                    <div class="text-white" style="font-size: 8px;">پادکست‌ها</div>
                </a>
            </li>

            <li class="item-bottom">
                <a href="#">
                    <img src="{% static 'images/icons/wallet.png' %}" alt="icon">
                    <div class="text-white" style="font-size: 8px;">آزمایش ها</div>
                </a>
            </li>
            <li class="item-bottom" id="menuuuu">
                <a href="#">
                    <img src="{% static 'images/icons/menu.png' %}" alt="icon-menu">
                    <div class="text-white" style="font-size: 8px;">منو ادمین</div>
                </a>
            </li>
        {% endwith %}
    </ul>
</div>