{% load static %}
{% load filters %}

<div class="height-full-viewport" id="height-full-viewport-desk">
    <div id="close-menu-1">
        <span id="close" role="button">
            <img src="{% static 'images/icons/close.png' %}" alt="Close menu">
        </span>
    </div>
    <ul id="menu-menu-1" class="ms-navbar gap-2 text-center" style="width: 300px;">
        <li class="bg-white rounded-pill h3 w-100">
            <a href="{% url 'account:users_list' %}" class="text-black d-block w-100 py-2">
                کاربران
            </a>
        </li>
        <li class="bg-white rounded-pill h3 w-100">
            <a href="{% url 'service:operator_category__list' %}" class="text-black d-block w-100 py-2">
                خدمات حضوری
            </a>
        </li>
        <li class="bg-white rounded-pill h3 w-100">
            <a href="{% url 'service:operator_reserve__list' %}" class="text-black d-block w-100 py-2">
                رزروهای خدمات
            </a>
        </li>
        <li class="bg-white rounded-pill h3 w-100">
            <a href="{% url 'communication:all_tickets' %}" class="text-black d-block w-100 py-2">
                تیکت‌های کاربران
            </a>
        </li>
        <li class="bg-white rounded-pill h3 w-100">
            <a href="{% url 'communication:chats_list' %}" class="text-black d-block w-100 py-2">
                پیام‌های کاربران
            </a>
        </li>
        <li class="bg-white rounded-pill h3 w-100">
            <a href="#" class="text-black d-block w-100 py-2">
                محصولات
            </a>
        </li>
        <li class="bg-white rounded-pill h3 w-100">
            <a href="{% url 'account:logout' %}" class="text-black d-block w-100 py-2">
                خروج
            </a>
        </li>
    </ul>
</div>
