{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    تایید شماره همراه
{% endblock %}




{% block Content %}
    {% include 'base/components/header.html' %}
    <div class="page-title-wrap">
        <div class="page-title-area title-img-six">
            <div class="title-shape"><img alt="Shape" src="{% static 'template/images/title/title-shape1.png' %}"></div>
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="title-content"><h2>تایید شماره همراه</h2>
                        <ul>
                            <li><a href="{% url 'public:index' %}">خانه</a></li>
                            <li><span>تایید شماره همراه</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="user-area ptb-100">
        <div class="container">
            <div class="user-item">
                <div class="user-shape">
                    <img alt="Shape" src="{% static 'template/images/contact-shape1.png' %}">
                    <img alt="Shape" src="{% static 'template/images/contact-shape2.png' %}">
                </div>
                <div id="send-code">
                    <h2>ارسال کد تایید شماره همراه</h2>
                    <form action="{% url 'account:confirm_phonenumber' %}" id="form-confirm-phonenumber">
                        <div class="form-group">
                            <label for="">شماره همراه</label>
                            <input type="tel" placeholder="شماره همراه" class="form-control"
                                   value="{{ user.get_raw_phonenumber }}"
                                   disabled>
                        </div>
                        <button class="btn common-btn two" type="button">ارسال کد تایید</button>
                        <div class="d-flex justify-content-between align-items-center col-11 col-md-4 mx-auto mx-md-0 text-left mt-2">
                            <h4><a href="{% url 'account:login' %}">ورود</a></h4>
                            <h4><a href="{% url 'account:register' %}">ثبت نام</a></h4>
                            <h4><a href="{% url 'account:logout' %}">خروج</a></h4>
                        </div>
                    </form>
                </div>

                <div class="d-none" id="check-code">
                    <h2>بررسی کد تایید شماره همراه</h2>
                    <form action="{% url 'account:confirm_phonenumber_check_code' %}"
                          dashboard-url="{% url 'dashboard:index' %}" id="form-check-phonenumber">
                        <div class="form-group">
                            <label>
                                کد ارسال شده
                            </label>
                            <input type="text" placeholder="لطفا کد ارسال شده را وارد نمایید" class="form-control"
                                   name="code" required>
                        </div>
                        <button class="btn common-btn two" type="button">بررسی کد</button>
                        <div class="d-flex justify-content-between align-items-center col-11 col-md-4 mx-auto mx-md-0 text-left mt-2">
                            <h4><a href="{% url 'account:login' %}">ورود</a></h4>
                            <h4><a href="{% url 'account:register' %}">ثبت نام</a></h4>
                            <h4><a href="{% url 'account:logout' %}">خروج</a></h4>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include 'base/components/footer.html' %}
{% endblock %}

{% block Script %}
    <script>
        let code_is_sent = '{{ code_is_sent }}'
        let cnt_send = document.querySelector('#send-code')
        let cnt_check = document.querySelector('#check-code')

        let btn_send_code = cnt_send.querySelector('button')
        let btn_check_code = cnt_check.querySelector('button')

        let url_send_code = document.querySelector('#send-code form').getAttribute('action')
        let url_check_code = document.querySelector('#check-code form').getAttribute('action')
        if (code_is_sent === 'True') {
            activeCntForm(cnt_check)
        }
        btn_send_code.addEventListener('click', function () {
            createLoading(cnt_send)
            sendAjax({
                url: url_send_code,
                success: function (response) {
                    activeCntForm(cnt_check)
                    removeLoading(cnt_send)
                    createNotify({
                        title: 'موفق',
                        message: 'کد تایید ارسال شد',
                        theme: 'success'
                    })
                },
                error: function (response) {
                    removeLoading(cnt_send)
                    let status = response.status
                    if (status == 409) {
                        createNotify({
                            title: 'ارور',
                            message: 'کد تایید برای شما ارسال شده است',
                            theme: 'error'
                        })
                        activeCntForm(cnt_check)
                    }
                }
            })
        })


        btn_check_code.addEventListener('click', function () {
            createLoading(cnt_check)
            let code = document.querySelector('#check-code input[name="code"]').value
            sendAjax({
                url: url_check_code,
                data: {
                    'code': code
                },
                success: function (response) {
                    // redirect to dashboard
                    let dashboard_url = cnt_check.querySelector('form').getAttribute('dashboard-url')
                    redirect(dashboard_url)
                    removeLoading(cnt_check)
                },
                error: function (response) {
                    removeLoading(cnt_check)
                    let status = response.status
                    if (status == 400) {
                        createNotify({
                            title: 'ارور',
                            message: 'لطفا فیلد هارا به درستی پرنمایید',
                            theme: 'error'
                        })
                    } else if (status == 410) {
                        createNotify({
                            title: 'ارور',
                            message: 'کد منقضی شده است',
                            theme: 'error'
                        })
                        activeCntForm(cnt_send)
                    } else if (status == 409) {
                        createNotify({
                            title: 'ارور',
                            message: 'کد وارد شده نامعتبر است',
                            theme: 'error'
                        })
                    }
                }
            })
        })

        function activeCntForm(cnt) {
            hideAllCntForm()
            cnt.classList.remove('d-none')
        }

        function hideAllCntForm() {
            cnt_send.classList.add('d-none')
            cnt_check.classList.add('d-none')
        }

        document.querySelector('#form-confirm-phonenumber').addEventListener('submit', function (e) {
            e.preventDefault()
            btn_send_code.click()
        })


        document.querySelector('#form-check-phonenumber').addEventListener('submit', function (e) {
            e.preventDefault()
            btn_check_code.click()
        })


    </script>
{% endblock %}