{% extends 'base-template.html' %}
{% load static %}


{% block title %}والا | منو کاربری{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/beauty.css' %}">
{% endblock %}

{% block body_class %}bg{% endblock %}

{% block content %}
    <!-- Include user/admin menus -->
    {% include 'menus.html' %}

    <div class="container-fluid col-md-11">
        <!-- Start Modal-routine -->
        {% include 'public/components/skin-routine.html' %}
        <!-- .End Modal-routine -->

        <main class="main">
            <div class="profile-user-category">
                <div class="inner-profile-user-category col-12 col-md-5">
                    <div class="logo">
                        <div class="col-5 col-md-4">
                            <img src="{% static 'images/vala-logo.png' %}" alt="Vala logo">
                        </div>
                    </div>

                    <div id="header-profile" class="mt-2">
                        <div class="profile">
                            <div class="col-6 col-md-5 imge-user-profile">
                                <div class="col-12 rounded-circle">
                                    <img src="{{ user.user_profile.get_image_url }}" alt="User profile pic"
                                         class="rounded-circle" style="object-fit: cover;">
                                </div>
                            </div>
                        </div>

                        <div class="name-user">
                            {{ user.get_full_name }}
                        </div>
                    </div>

                    <section class="profile-category">
                        <div class="col-12 p-2">
                            <a href="{% url 'account:profile_details' user.pk %}">
                                <div class="item-profile">
                                    اطلاعات کاربری
                                </div>
                            </a>
                        </div>
                        <div class="col-12 p-2">
                            <div class="item-profile" id="btn-moshavereh">
                                درخواست مشاوره
                            </div>
                        </div>
                        <div class="col-12 p-2">
                            <a href="{% url 'communication:tickets_list' %}" class="d-block item-profile" id="btn-modal-1">
                                تیکت‌‌های من
                            </a>
                        </div>
                        <div class="col-12 p-2">
                            <a href="{% url 'operation:recoveries_list' %}" class="d-block item-profile" id="btn-modal-1">
                                روندهای بهبودی
                            </a>
                        </div>
                        <div class="col-12 p-2 d-none">
                            <a href="#" class="d-block item-profile" id="btn-modal-1">
                                گفتگو
                            </a>
                        </div>
                    </section>
                </div>
            </div>
        </main>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/menus.js' %}"></script>
    <script src="{% static 'js/beauties.js' %}"></script>
{% endblock %}
