{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    بازیابی رمز عبور
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'styles/form.css' %}">
{% endblock %}

{% block Style %}

    <style>

        .container.forms {
            font-size: 120%;
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 30px;
        }

        .form {
            position: absolute;
            max-width: 480px;
            width: 95%;
            margin: auto;
            padding: 30px;
            border-radius: 6px;
            background: #FFF;
            box-shadow: 0 4px 15px #ddd
        }

        .forms header {
            font-family: "KalamehBlack";
            font-size: 39px;
            font-weight: 600;
            color: #232836;
            text-align: center;
        }

        .form-link {
            margin-top: 20px;
            text-align: left;
        }

        .form-link a {
            margin: 6px;
            font-size: 80%;
        }

        .field {
            height: auto !important;
        }

        .field input,
        .field button {
            height: 50px;
            width: 100%;
            border: none;
            font-size: 16px;
            font-weight: 400;
            border-radius: 6px;
        }

        .field input {
            text-align: right;
            outline: none;
            padding: 0 15px;
            border: 1px solid #CACACA;
        }

        .field button {
            margin-top: 3px;
        }


    </style>

{% endblock %}

{% block Content %}
    {% include 'base/components/header.html' %}
    <section class="breadcrumb">
        <li>
            <a href="{% url 'public:home' %}">خانه</a>
        </li>
        <li>حساب کاربری</li>
        <li>
            <a href="">بازیابی رمز عبور</a>
        </li>
    </section>
    <section class="container forms">
        <div class="form form-effect" id="send-code">
            <div class="form-content">
                <header>بازیابی رمز عبور</header>
                <form action="{% url 'account:reset_password_send_code' %}" method="post">
                    <!-- send with ajax -->
                    <div class="field input-field">
                        <label class="font-60">
                            لطفا شماره همراه خود را وارد نمایید
                        </label>
                        <input type="tel" placeholder="شماره همراه" class="input" maxlength="14" name="phonenumber">
                    </div>

                    <div class="field button-field">
                        <button type="button">ارسال کد</button>
                    </div>
                </form>

                <div class="form-link">
                    <a href="{% url 'account:login_register' %}">ثبت نام</a>
                    <a href="{% url 'account:login_register' %}">ورود</a>
                </div>
            </div>
        </div>
        <div class="form d-none" id="check-code">
            <div class="form-content">
                <header>بازیابی رمز عبور</header>
                <form action="{% url 'account:reset_password_check_code' %}">
                    <!-- send with ajax -->
                    <label>
                        لطفا کد ارسال شده را وارد نمایید
                    </label>
                    <div class="field input-field">
                        <input type="text" placeholder="کد ارسال شده" class="input" name="code">
                    </div>

                    <div class="field button-field">
                        <button type="button">بررسی کد</button>
                    </div>
                </form>

                <div class="field field-outline button-field ">
                    <button type="button" class="change-phonenumber">تغییر شماره</button>
                </div>
            </div>
        </div>
        <div class="form d-none" id="set-pass">
            <div class="form-content">
                <header>تنظیم رمز عبور جدید</header>
                <form action="{% url 'account:reset_password_set' %}">
                    <!-- send with ajax -->
                    <label>
                        لطفا رمز عبور جدید خود را وارد نمایید
                    </label>
                    <div class="field input-field">
                        <input type="password" placeholder="رمز عبور" class="input" name="password">
                    </div>
                    <div class="field input-field">
                        <input type="password" placeholder="تایید رمز عبور" class="input" name="password2">
                    </div>

                    <div class="field button-field">
                        <button type="button">ثبت</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% include 'base/components/footer.html' %}
{% endblock %}

{% block Script %}
    <script>
        let cnt_send = document.querySelector('#send-code')
        let cnt_check = document.querySelector('#check-code')
        let cnt_set_pass = document.querySelector('#set-pass')

        let btn_send_code = cnt_send.querySelector('button')
        let btn_check_code = cnt_check.querySelector('button')
        let btn_set_pass = cnt_set_pass.querySelector('button')
        let btn_change_phonenumber = cnt_check.querySelector('.change-phonenumber')

        let url_send_code = document.querySelector('#send-code form').getAttribute('action')
        let url_check_code = document.querySelector('#check-code form').getAttribute('action')
        let url_set_pass = document.querySelector('#set-pass form').getAttribute('action')

        btn_change_phonenumber.addEventListener('click', function () {
            activeCntForm(cnt_send)
        })

        btn_send_code.addEventListener('click', function () {
            createLoading(cnt_send)
            let phonenumber = document.querySelector('#send-code input[name="phonenumber"]').value
            sendAjax({
                url: url_send_code,
                data: {
                    'phonenumber': phonenumber
                },
                success: function (response) {
                    activeCntForm(cnt_check)
                    removeLoading(cnt_send)
                    createNotify({
                        title: 'موفق',
                        message: 'کد بازیابی ارسال شد',
                        theme: 'success'
                    })
                },
                error: function (response) {
                    removeLoading(cnt_send)
                    let status = response.status
                    if (status == 404) {
                        createNotify({
                            title: 'ارور',
                            message: 'کاربری با این شماره یافت نشد',
                            theme: 'error'
                        })
                    } else if (status == 400) {
                        createNotify({
                            title: 'ارور',
                            message: 'لطفا فیلد هارا به درستی پرنمایید',
                            theme: 'error'
                        })
                    } else if (status == 409) {
                        createNotify({
                            title: 'ارور',
                            message: 'کد بازیابی برای شما ارسال شده است',
                            theme: 'error'
                        })
                        activeCntForm(cnt_check)
                    }
                }
            })
        })


        btn_check_code.addEventListener('click', function () {
            createLoading(cnt_check)
            let phonenumber = document.querySelector('#send-code input[name="phonenumber"]').value
            let code = document.querySelector('#check-code input[name="code"]').value
            sendAjax({
                url: url_check_code,
                data: {
                    'phonenumber': phonenumber,
                    'code': code
                },
                success: function (response) {
                    activeCntForm(cnt_set_pass)
                    removeLoading(cnt_check)
                },
                error: function (response) {
                    removeLoading(cnt_check)
                    let status = response.status
                    if (status == 404) {
                        createNotify({
                            title: 'ارور',
                            message: 'کاربری با این شماره یافت نشد',
                            theme: 'error'
                        })
                    } else if (status == 400) {
                        createNotify({
                            title: 'ارور',
                            message: 'لطفا فیلد هارا به درستی پرنمایید',
                            theme: 'error'
                        })
                    } else if (status == 410) {
                        createNotify({
                            title: 'ارور',
                            message: 'کد منقضی شده است',
                            theme: 'error'
                        })
                        activeCntForm(cnt_send)
                    } else if (status == 409) {
                        createNotify({
                            title: 'ارور',
                            message: 'کد وارد شده نامعتبر است',
                            theme: 'error'
                        })
                    }
                }
            })
        })


        btn_set_pass.addEventListener('click', function () {
            createLoading(cnt_check)
            let phonenumber = document.querySelector('#send-code input[name="phonenumber"]').value
            let code = document.querySelector('#check-code input[name="code"]').value
            let password = document.querySelector('#set-pass input[name="password"]').value
            let password2 = document.querySelector('#set-pass input[name="password2"]').value
            sendAjax({
                url: url_set_pass,
                data: {
                    'phonenumber': phonenumber,
                    'code': code,
                    'password': password,
                    'password2': password2,
                },
                success: function (response) {
                    activeCntForm(cnt_set_pass)
                    removeLoading(cnt_check)
                    createNotify({
                        title: 'موفق',
                        message: 'رمز عبور شما با موفقیت تغییر کرد',
                        theme: 'success'
                    })
                    redirect(LOGIN_REGISTER)
                },
                error: function (response) {
                    removeLoading(cnt_check)
                    let status = response.status
                    if (status == 404) {
                        createNotify({
                            title: 'ارور',
                            message: 'کاربری با این شماره یافت نشد',
                            theme: 'error'
                        })
                    } else if (status == 400) {
                        createNotify({
                            title: 'ارور',
                            message: 'رمزهای عبور با یکدیگر مطابقت ندارند',
                            theme: 'error'
                        })
                    } else if (status == 410) {
                        createNotify({
                            title: 'ارور',
                            message: 'زمان تغییر رمز عبور منقضی شده است',
                            theme: 'error'
                        })
                        activeCntForm(cnt_send)
                    }
                }
            })
        })

        function activeCntForm(cnt) {
            hideAllCntForm()
            cnt.classList.remove('d-none')
        }

        function hideAllCntForm() {
            cnt_send.classList.add('d-none')
            cnt_check.classList.add('d-none')
            cnt_set_pass.classList.add('d-none')
        }


    </script>
{% endblock %}