{% extends 'base-template.html' %}
{% load static %}


{% block title %}ورود | ثبت نام{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/sign-up.css' %}"/>
{% endblock %}

{% block body_class %}bg{% endblock %}

{% block content %}
    <div class="col-md-12 m-0">
        <main class="main">
            <!-- logo valla -->
            <section class="logo-valla">
                <div class="inner-logo-valla">
                    <img src="{% static 'images/vala-logo.png' %}" alt="Vala logo">
                </div>
            </section>
            <!-- logo valla -->

            <!-- start-form login-register -->
            <section class="signup-login-box">
                <div class="inner-signup-login-box col-12 col-md-5">
                    <div class="col-12">

                        <!-- Start Sign-up form -->
                        <div class="content form-login active">
                            <div class="forms px-4">

                                <!-- form-confirm-code and register -->
                                <form method="POST" action="{% url 'account:verify_phone' %}" class="form form-confirm-code active">
                                    {% csrf_token %}
                                    <h3 class="title">تایید کد</h3>
                                    <div>
                                        <div class="group-form">
                                            <input type="text" id="code" name="code" maxlength="5">
                                            <label for="code">
                                                :کد ارسال شده
                                            </label>
                                        </div>
                                        <small></small>
                                    </div>

                                    <button type="submit" class="btn-submit">تایید کد</button>

                                    <div class="d-flex justify-content-between align-items-center py-3 form-text-3">
                                        <a href="{% url 'account:login' %}">ورود</a>
                                        <div class="timer d-flex justify-content-between align-items-center fw-semibold">
                                            <span id="resendTimer">(2:00)</span>

                                            <button type="button" class="btn-timer mx-2" id="resendBtn" disabled>
                                                ارسال مجدد
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <!-- form-confirm-code and register -->
                            </div>
                        </div>
                        <!-- .End Sign-up form -->

                    </div>
                </div>
            </section>
        </main>
    </div>

    {% block scripts %}
        <!-- PERSIAN TOOLS PACKAGE -->
        <script src="https://cdn.jsdelivr.net/npm/@persian-tools/persian-tools/build/persian-tools.umd.js"></script>

        <!-- MAIN JS -->
        <script src="{% static 'js/sign-up.js' %}"></script>
        <script src="{% static 'js/otp.js' %}"></script>
    {% endblock %}
{% endblock %}
