{% extends 'account/dashboard/components/base/base_template.html' %}

{% block Title %}
    اطلاعات شخصی - مشخصات
{% endblock %}



{% block Content %}
    {% include 'account/dashboard/components/base/nav.html' %}

    <section class="main_content dashboard_part large_header_bg">
        {% include 'account/dashboard/components/base/header.html' %}
        <div class="main_content_iner">
            <div class="container-fluid p-0 ">
                <div class="col-lg-12">
                    <div class="white_card mb_30">
                        <div class="white_card_header">
                            <div class="box_header m-0">
                                <div class="main-title">
                                    <h3 class="m-0">مشخصات</h3>
                                </div>
                            </div>
                             <div class="breadcrumb">
                                <ul>
                                    <li>
                                        <a href="{% url 'account:dashboard' %}">داشبورد</a>
                                    </li>
                                    <li>
                                        <a href="#">اطلاعات شخصی</a>
                                    </li>
                                    <li>
                                        <a href="">مشخصات</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="white_card_body">
                            <div class="card-body">
                                <form action="{% url 'account:user_update' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="role" value="normal_user">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label class="form-label" for="inputNameUserRegister">
                                                نام
                                            </label>
                                            <input type="text" name="first_name" class="form-control"
                                                   id="inputNameUserRegister"
                                                   placeholder="نام" minlength="2" maxlength="50"
                                                   value="{{ user.first_name }}">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="inputLastNameUserRegister">نام
                                                خانوادگی</label>
                                            <input type="text" name="last_name" class="form-control"
                                                   id="inputLastNameUserRegister" placeholder="نام خانوادگی"
                                                   minlength="3" maxlength="100" value="{{ user.last_name }}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label class="form-label" for="inputPhonenumberUserRegister">
                                                شماره همراه
                                            </label>
                                            <input type="tel" name="phonenumber" class="form-control"
                                                   id="inputPhonenumberUserRegister"
                                                   placeholder="شماره همراه" required minlength="11" maxlength="14"
                                                   value="{{ user.get_raw_phonenumber }}" disabled autocomplete="off">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="inputEmailUserRegister">
                                                ایمیل
                                                <span class="field-required">*</span>
                                            </label>
                                            <input type="email" name="email" class="form-control"
                                                   id="inputEmailUserRegister" required placeholder="ایمیل"
                                                   minlength="3" maxlength="64" value="{{ user.get_email }}"
                                                   autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label class="form-label" for="">
                                                وضعیت حساب کاربری
                                            </label>
                                            <input type="text" class="form-control" required
                                                   value="{% if user.is_active %}فعال{% else %}غیر فعال{% endif %}"
                                                   autocomplete="off" disabled>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="">
                                                وضعیت شماره همراه
                                            </label>
                                            <input type="text" class="form-control" required
                                                   value="{% if user.is_phonenumber_confirmed %}تایید شده{% else %}تایید نشده{% endif %}"
                                                   autocomplete="off" disabled>
                                        </div>
                                    </div>
                                    <div class="field field-button text-left">
                                        <button type="submit">ثبت</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'account/dashboard/components/base/footer.html' %}
    </section>
{% endblock %}

