@font-face {
    font-family: 'KalamehBlack';
    src: url('/static/fonts/Kalameh_Black.woff')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    font-size: 85%;
    color: #5e8591;
}


body {
    font-family: 'Vazir';
    overflow-x: hidden;
}


.text-left {
    text-align: left;
}

.d-none {
    display: none;
}


.border-1-gray {
    border: 1px solid #ddd;
}

.container-not-found-base {
    text-align: center;
    margin: 30px auto;
    font-weight: bold;
}

.container-not-found-base img {
    width: 200px;
    height: 100%;
}

.container-not-found-base p {
    font-size: 160%;
    color: rgb(253 122 122);
}

.loading-element-parent {
    position: relative;
}

.loading-element {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 99999;
    border-radius: 50%;
    animation: loading-circle-animation 1s linear infinite;
}

.loading-blur-element {
    backdrop-filter: blur(3px);
    /*backdrop-filter: brightness(50%);*/
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 99998;
    border-radius: inherit;
}

.loading-blur-element.fill {
    backdrop-filter: none !important;
}

.loading-blur-element.fill:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    left: 100%;
    inset: 0;
    z-index: 99997;
    background: inherit;
    border-radius: inherit;
}

.loading-circle-big {
    border: 6px solid transparent;
    border-top-width: 6px;
    border-top-style: solid;
    border-right-width: 6px;
    border-right-style: solid;
    width: 75px;
    height: 75px;
}

.loading-circle-normal {
    border: 4px solid transparent;
    border-top-width: 4px;
    border-top-style: solid;
    border-right-width: 4px;
    border-right-style: solid;
    width: 50px;
    height: 50px;
}


.loading-circle-small {
    border: 3px solid transparent;
    border-top-width: 3px;
    border-top-style: solid;
    border-right-width: 3px;
    border-right-style: solid;
    width: 25px;
    height: 25px;
}

@keyframes loading-circle-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.list-row {
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    font-size: 80%;
    text-align: center;
    width: 100%;
    white-space: nowrap;
}

.title-list-row {
    border-radius: 10px 10px 0 0;
    padding: 10px;
    background: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.title-list-row > div {
    display: inline-block;
    margin: 0 5px;
    color: #555;
    font-size: 80%;
}

.detail-row {
    width: 100%;
    font-size: 90%;
    color: #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* margin: 10px 0; */
    /* margin-bottom: 10px; */
    padding: 12px 5px;
    border-bottom: 1px solid #ddd;
}

.detail-row:last-of-type {
    border-bottom: none;
    border-radius: 0 0 10px 10px;
}

.detail-row > div {
    display: inline-block;
    margin: 0 5px;
}


.font-s-40 {
    font-size: 40px !important;
}

.font-s-35 {
    font-size: 35px !important;
}

.font-s-33 {
    font-size: 33px !important;
}


.font-s-28 {
    font-size: 28px !important;
}


.font-s-25 {
    font-size: 25px !important;
}

.font-s-20 {
    font-size: 20px !important;
}

.font-s-18 {
    font-size: 18px !important;
}

.font-120 {
    font-size: 120% !important;
}

.font-110 {
    font-size: 110% !important;
}


.font-80 {
    font-size: 80% !important;
}

.font-85 {
    font-size: 85% !important;
}

.font-95 {
    font-size: 95% !important;
}

.font-70 {
    font-size: 70% !important;
}

.font-75 {
    font-size: 75% !important;
}

.font-60 {
    font-size: 60% !important;
}

/*.pagination {*/
/*    direction: ltr;*/
/*    display: block !important;*/
/*    text-align: left;*/
/*    margin: 15px 0;*/
/*}*/

/*.pagination .step-links {*/
/*    background: #f0f0f0;*/
/*    border: 1px solid #d2d2d2;*/
/*    display: inline-block;*/
/*    border-radius: 7px;*/
/*}*/

/*.pagination .step-links a {*/
/*    padding: 5px 11px;*/
/*    margin: 0;*/
/*    !*width: 40px;*!*/
/*    font-size: 70%;*/
/*    background: #f6f6f6;*/
/*    color: #3955b7;*/
/*    text-align: center;*/
/*    display: inline-block;*/
/*}*/

/*.pagination .step-links a:hover {*/
/*    background: #ddd;*/
/*}*/

/*.pagination-previous a:first-of-type {*/
/*    border-radius: 7px 0 0 7px;*/
/*    border-right: 1px solid #d2d2d2;*/
/*}*/

/*.pagination-next a:last-of-type {*/
/*    border-radius: 0 7px 7px 0;*/
/*    border-left: 1px solid #d2d2d2;*/
/*}*/

.pagination .current {
    margin: 10px 5px 0 5px;
    padding: 0 3px;
    color: #888;
}


.user-select {
    cursor: pointer;
    transition: all .2s;
}

.user-select:hover {
    background: #f8f8f8;
}

.user-select[selected='true'] {
    background: #2def8dd9 !important;
    border: 1px solid #0b8c62 !important;
    color: #fff;
}

body[data-theme-version='dark'] .user-select[selected='true'] .badge-success {
    color: #fff;
}

body[data-theme-version='dark'] .user-select[selected='true'] .badge-info {
    color: #fff;
}

.filters-radio .container {
    margin-top: 10px;
}

.filters-radio .title {
    color: #aaa;
    font-size: 70%;
    margin: 10px 15px;
}

.filters-radio .container > div {
    display: inline-block;
    margin: 2px;
}

.filters-radio a {
    font-size: 75%;
    color: #0886a6;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 7px 15px;
    transition: all .3s;
}

.filters-radio a:hover {
    background: #09ccb5;
    color: #fff;
}

.filters-radio a.active {
    background: #09ccb5;
    color: #fff;
}

.cnt-search {
    margin: 10px auto;
    padding: 1px 6px;
    max-width: 90%;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cnt-search input {
    height: 43px;
    font-size: 16px;
    width: 70%;
    border-radius: inherit;
    border: none;
    outline: none;
}

.cnt-search input::placeholder {
    color: #bbb;
    font-size: 90%;
}

.cnt-search > div {
    /*width: 20%;*/
    text-align: left;
    border-radius: inherit;
}

.cnt-search button {
    border: none;
    outline: none;
    background: #f0f4ff;
    color: #0a65bd;
    border-radius: 10px;
    padding: 6px;
}

body[data-theme-version='dark'] .cnt-search {
    background: none;
    border: 1px solid #333;
}

body[data-theme-version='dark'] .cnt-search input {
    background: none;
    color: #ccc;
}

body[data-theme-version='dark'] .cnt-search button {
    background: none;
    color: #4092ff;
}

.title {
    color: #aaa;
    font-size: 70%;
    margin: 10px 15px;
}


.text-mute {
    color: #a4aeb9;
}

.pending {
    color: #ffa328;
}

.bg-accepted {
    padding: 3px 7px;
    border-radius: 10px;
    background: #e9fff3;
    color: #0ca95c;
}

.bg-rejected {
    padding: 3px 7px;
    border-radius: 10px;
    background: #ffe9ef;
    color: #ee2a5a;
}

.bg-pending {
    padding: 3px 7px;
    border-radius: 10px;
    background: #fdf9d9;
    color: #d99d06;
}

.accepted {
    color: #59b48a;
}

.checked {
    color: #59b48a;
}

.rejected {
    color: #ed4654;
}

.font-weight-bold {
    font-weight: bold;
}

.icon-percentage-badge {
    background: #f1f1f1;
    padding: 2px 3px;
    border-radius: 7px;
    font-size: 56%;
}

.icon-percentage-badge[percentage-label='half'] {
    background: #ffbc2f;
}


.icon-percentage-badge[percentage-label='below_half'] {
    background: #e1426a;
    color: #fff;
}

.icon-percentage-badge[percentage-label='above_half'] {
    background: #0a9d75;
    color: #fff;
}

.bg-purple {
    background: #9142ff !important;
    color: #fff !important;
}

.bg-pink {
    background: #ff9bce !important;
}

.bg-green {
    background: #03f29b !important;
    color: #fff !important;
}


.bg-danger-light {
    background: #fdf5f4;
    padding: 10px;
    border-radius: 10px;
    font-size: 95%;
    line-height: 33px;
    color: #f24444;
}

pre {
    font-size: 110% !important;
    color: #343b46 !important;
    white-space: normal;
    font-family: "Vazirmatn RD FD" !important;
    line-height: 34px;
}


option[disabled] {
    color: #bbb !important;
}

.border-radius-6 {
    border-radius: 6px !important;
}

.border-radius-7 {
    border-radius: 7px !important;
}

.breadcrumb {
    direction: rtl;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px 20px;
}

.breadcrumb ul {
    direction: rtl;
    width: 100%;
    display: block;
}

.breadcrumb li {
    font-size: 73%;
    display: inline-block;
    color: #b9b9b9;
}

.breadcrumb li:after {
    content: "/";
    margin: 0 9px;
    font-size: 80%;
    color: #ccc;
}

.breadcrumb li:before {
    content: "";
    display: none;
}

.breadcrumb li:last-of-type:after {
    content: "";
    margin: 0;
}

.breadcrumb li a {
    color: inherit;
}


.breadcrumb a[href=""] {
    color: #878787;
}

body[data-theme-version='dark'] .breadcrumb a[href=""] {
    color: #aaa;
}

body[data-theme-version='dark'] .breadcrumb li {
    color: #888;
}

.btn-edit-outline {
    background: #fff;
    border: 1px solid #5791f3;
    border-radius: 6px;
    color: #5791f3;
    width: 105px;
    transition: all .2s !important;
}

.btn-edit-outline:hover {
    background: #5791f3;
    color: #fff;
}

.btn-edit {
    border-radius: 6px;
    background: #5791f3;
    color: #fff;
    width: 105px;
    transition: all .2s !important;
}

.btn-edit:hover {
    box-shadow: 0 2px 2px #2a4a81;
}

.btn-submit {
    background: #0ae1a7;
    color: #fff;
}

.btn-submit:hover {
    box-shadow: 0 2px 2px #09b284;
    color: #ffffff;
}


.cnt-options > div {
    padding: 5px 10px;
    margin: 13px 7px;
    border-radius: 10px;
    border: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cnt-options input {
    margin-bottom: 5px;
}

.cnt-options > div label {
    padding: 5px;
    margin: 0;
    margin-left: 10px;
}

.dropdown-item {
    text-align: center;
    font-size: 14px !important;
}

.features-update {
    position: relative;
    z-index: 2;
}

.features-update-disable-el {
    display: block;
    background: rgba(215, 215, 215, 0.5);
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}

.table-center tr {
    text-align: center;
}

.table-center th {
    text-align: center !important;
}

.nav-switch {
    background: rgb(246, 246, 246);
    border: 1px solid rgb(238, 238, 238);
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    white-space: nowrap;
}

.nav-switch li {
    border-radius: inherit;
    display: inline-block;
    transition: all .2s;
}

.nav-switch li:hover {
    background: #18d780;
    color: #fff;
}

.nav-switch li.active {
    background: #18d780;
    color: #fff;
}

.nav-switch li > * {
    color: inherit;
    padding: 12px;
    display: inline-block;
}

.nav-switch li > *:hover {
    color: inherit;
}

.nav-links li {
    background: #fff;
    color: #9142ff;
    border: 1px solid #9142ff;
    display: inline-block;
    margin: 5px;
    min-width: 100px;
    border-radius: 13px;
    transition: all .25s;
}

.nav-links li.active {
    background: #9142ff;
    color: #fff;
    border: 2px solid #5b11cb;
}

.nav-links li:hover {
    background: #9142ff;
    color: #fff;
}

.nav-links li > * {
    color: inherit !important;
    padding: 10px;
    display: inline-block;
}

.nav-links li > *:hover {
    color: inherit !important;
}

body[data-theme-version='dark'] .nav-links li {
    background: none;
    color: #fff;
}

body[data-theme-version='dark'] .nav-links li.active {
    background: #9142ff;
    color: #fff !important;
}

body[data-theme-version='dark'] .nav-switch {
    background: #171622;
    border: none;
}

.detail {
    direction: rtl;
    border-radius: 10px;
    padding: 10px;
}

.detail-field {
    margin: 12px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 1px solid #f2f2f2;
}

.detail-field > span {
    color: #889ba6;
}

.detail-field p {
    margin: 0;
    display: inline-block;
    color: #555;
}

.detail a {
    color: #7796d2;
    background: #fefefe;
    padding: 2px 4px;
    border-radius: 15px;
}

body[data-theme-version='dark'] .detail-field p {
    color: #eee;
}

.input-group-invalid {
    position: relative;
    border: 1px solid #ff4650 !important;
}

.input-group-invalid::after {
    font-family: "Font Awesome 5 Pro";
    content: '\f06a';
    background: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    right: 25px;
    color: #ff4650;
}

.field-required {
    color: #ef4141;
}

@media screen and (max-width: 1400px) {
    .list-row {
        font-size: 75%;
    }

    .detail-row {
        overflow: auto;
    }

}

@media screen and (max-width: 1100px) {
    .detail-row > div {
        margin: 5px;
        padding: 0 5px;
        width: auto;
    }
}

@media screen and (max-width: 992px) {
    #container-users .title-list-row > div:last-of-type {
        display: none;
    }

    #container-users .user-select > div:last-of-type {
        display: none;
    }

    .list-row {
        font-size: 70%;
    }

    .title-list-row {
        overflow: auto;
    }

    .title-list-row > div {
        padding: 0 10px;
        width: 100px;
    }
}


@media screen and (max-width: 768px) {
    .detail-field {
        display: block !important;
        text-align: center;
        padding-bottom: 15px;
    }

    .detail-field > span {
        display: block;
        text-align: right;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 760px) {
    .filters-radio .container {
        text-align: center;
    }

    .breadcrumb {
        font-size: 90%;
    }

    .cnt-search input {
        width: 65%;
    }

    .cnt-search .label {
        display: none;
    }

    .cnt-search button {
        padding: 6px 20px;
    }

    .nav-switch{
        display: inline-block;
    }
}

@media screen and (max-width: 380px) {
    .cnt-search input {
        width: 50%;
    }
}

