{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- PACKAGES -->
<link rel="stylesheet" href="{% static 'vendors/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/swiper.css' %}">
<link rel="stylesheet" href="{% static 'vendors/sweetalert2-mixin.css' %}">
<link href="https://db.onlinewebfonts.com/c/c56ea8aca8b3b1f84bcb7365c6ae4af0?family=Kalameh+Bold" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vazir-font/29.1.0/font-face.css">
