{% extends 'base-template.html' %}
{% load static %}


{% block title %}والا | چت ها{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/chat-list.css' %}">
{% endblock %}

{% block content %}
    {% include 'menus.html' %}

    <div class="container-fluid col-md-11 bg">
        <div class="d-flex justify-content-between gap-3 px-3 pt-4 pb-2">
            <div></div>
            <div>
                <a href="{% url 'communication:create_chat' %}" class="btn btn-light fw-semibold">
                    + شروع چت جدید
                </a>
            </div>
        </div>

        <main class="main pb-5">
            <section class="p-md-5 p-3 row" id="container-tickets">

                {% for chat in object_list %}
                    <div class="col-md-6 col-12 mb-4 test-card">
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-column position-relative p-3 test-card-header">
                                <h4 class="convert-digits" style="font-weight: 600;">چت شماره {{ forloop.counter }}</h4>
                            </div>

                            <div class="d-flex justify-content-between align-items-center gap-2 text-white px-3 pt-3 pb-2 test-card-body">
                                <div class="d-flex gap-md-5 gap-4">
                                    <div class="d-flex flex-column fw-semibold">
                                        <span>کاربر:</span>
                                        <span class="convert-digits">{{ chat.get_participant }}</span>
                                    </div>
                                    <div class="d-flex flex-column fw-semibold">
                                        <span>شناسه:</span>
                                        <span class="convert-digits">{{ chat.id }}</span>
                                    </div>
                                    <div class="d-flex flex-column fw-semibold">
                                        <span>تاریخ:</span>
                                        <span class="datetime-convert">{{ chat.get_date_created }}</span>
                                    </div>
                                </div>

                                <div class="d-flex flex-wrap gap-2">
                                    <a href="{{ chat.get_absolute_url }}" class="btn btn-sm btn-success fw-semibold">مشاهده</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="container-not-found-base p-4 fs-4">
                        <p>چت روم ساخته نشده</p>
                    </div>
                {% endfor %}

            </section>
        </main>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/menus.js' %}"></script>
{% endblock %}
