<div class="content-body">
    <div class="container-fluid">
        <div class="mb-sm-4">
            <h2 class="font-w600 mb-2 me-auto">داشبورد</h2>
        </div>
        <div class="row">

            <div class="col-xl-4 col-xxl-6 col-sm-6">
                <div class="card">
                    <div class="card-body d-flex">
                        <div class="icon me-3">
                            <i class="far fa-users-crown"></i>
                        </div>
                        <div>
                            <h2 class="invoice-num">{{ operators_count }}</h2>
                            <p class="mb-0 invoice-num1">
                                تعداد اپراتور ها
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-xxl-6 col-sm-6">
                <div class="card">
                    <div class="card-body d-flex">
                        <div class="icon me-3">
                            <i class="far fa-users"></i>
                        </div>
                        <div>
                            <h2 class="invoice-num">{{ users_count }}</h2>
                            <p class="mb-0 invoice-num1">
                                تعداد کاربران
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-xxl-6 col-sm-6">
                <div class="card">
                    <div class="card-body d-flex">
                        <div class="icon me-3">
                            <i class="far fa-clipboard"></i>
                        </div>
                        <div>
                            <h2 class="invoice-num">{{ meetings.count }}</h2>
                            <p class="mb-0 invoice-num1">
                                تعداد جلسات
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-6 col-xxl-12">
                        <div class="card">
                            <div class="card-header d-flex flex-wrap border-0">
                                <div class="mb-3">
                                    <h4 class="fs-20 text-black">اپراتور ها</h4>
                                    <p class="mb-0 fs-12">لیست برخی از اپراتورها</p>
                                </div>
                                <a href="{% url 'account:operator__list' %}">
                                    نمایش همه
                                    <i class="far fa-arrow-left"></i>
                                </a>
                            </div>
                            <div class="card-body py-0 px-3">
                                <div class="tab-content">
                                    <div class="tab-pane active show fade">
                                        <div class="table-responsive">
                                            <table class="table border-hover card-table cardtbl-link table-center">
                                                <thead>
                                                <tr>
                                                    <th class="font-95">نام</th>
                                                    <th class="font-95">تعداد جلسات</th>
                                                    <th class="font-95">تعداد بازدید کنندگان</th>
                                                    <th class="font-95">جزئیات</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for operator in operators_latest %}
                                                    <tr>
                                                        <td>
                                                            {{ operator.get_full_name }}
                                                        </td>
                                                        <td>
                                                            {{ operator.get_meetings.count }}
                                                        </td>
                                                        <td>
                                                            {{ operator.get_customers.count }}
                                                        </td>
                                                        <td>
                                                            <a href="{{ operator.get_dashboard_absolute_url }}"
                                                               class="border-0 px-4 py-2">
                                                                <i class="far fa-angle-left"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% empty %}
                                                    <tr>
                                                        <td colspan="1000">
                                                            <div class="container-not-found-base">
                                                                <p>اپراتوری یافت نشد</p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-xxl-12">
                        <div class="card">
                            <div class="card-header d-flex flex-wrap border-0">
                                <div class="mb-3">
                                    <h4 class="fs-20 text-black"> کاربران</h4>
                                    <p class="mb-0 fs-12">لیست برخی از کاربران</p>
                                </div>
                                <a href="{% url 'account:user__list' %}">
                                    نمایش همه
                                    <i class="far fa-arrow-left"></i>
                                </a>
                            </div>
                            <div class="card-body py-0 px-3">
                                <div class="tab-content">
                                    <div class="tab-pane active show fade">
                                        <div class="table-responsive">
                                            <table class="table border-hover card-table cardtbl-link table-center">
                                                <thead>
                                                <tr>
                                                    <th class="font-95">نام</th>
                                                    <th class="font-95">شماره همراه</th>
                                                    <th class="font-95">نمایش</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for user in users_latest %}
                                                    <tr>
                                                        <td>
                                                            {{ user.get_full_name }}
                                                        </td>
                                                        <td>
                                                            {{ user.get_raw_phonenumber }}
                                                        </td>
                                                        <td>
                                                            <a href="{{ user.get_dashboard_absolute_url }}"
                                                               class="border-0 px-4 py-2">
                                                                <i class="far fa-angle-left"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% empty %}
                                                    <tr>
                                                        <td colspan="1000">
                                                            <div class="container-not-found-base">
                                                                <p>کاربری یافت نشد</p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="card">
                            <div class="card-header d-flex flex-wrap border-0">
                                <div class="mb-3">
                                    <h4 class="fs-20 text-black">جلسات اخیر</h4>
                                    <p class="mb-0 fs-12">لیست جلسات اخیر</p>
                                </div>
                                <a href="{% url 'cartex:meeting__list' %}">
                                    نمایش همه
                                    <i class="far fa-arrow-left"></i>
                                </a>
                            </div>
                            <div class="card-body py-0 px-3">
                                <div class="tab-content">
                                    <div class="tab-pane active show fade">
                                        <div class="table-responsive">
                                            <table class="table border-hover table-center card-table cardtbl-link">
                                                <thead>
                                                <tr>
                                                    <th class="font-95">#</th>
                                                    <th class="font-95">کد رهگیری</th>
                                                    <th class="font-95">کاربر</th>
                                                    <th class="font-95">اپراتور</th>
                                                    <th class="font-95">تعداد نواحی</th>
                                                    <th class="font-95">مشاهده</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for meeting in meetings|slice:':8' %}
                                                    <tr>
                                                        <td>
                                                            {{ forloop.counter }}
                                                        </td>
                                                        <td>
                                                            {{ meeting.number_id }}
                                                        </td>
                                                        <td>
                                                            <a href="{{ meeting.user.get_dashboard_absolute_url }}"
                                                               class="badge badge-primary light border-0">
                                                                {{ meeting.user.get_full_name }}
                                                                <span class="font-85">{{ meeting.user.get_raw_phonenumber }}</span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a href="{{ meeting.operator.get_dashboard_absolute_url }}"
                                                               class="badge badge-info light border-0">
                                                                {{ meeting.operator.get_full_name }}
                                                                <span class="font-85">{{ meeting.operator.get_raw_phonenumber }}</span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            {{ meeting.get_areas.count }}
                                                        </td>

                                                        <td>
                                                            <a href="{{ meeting.get_absolute_url }}"
                                                               class="btn border-0 p-2 px-3">
                                                                <i class="far fa-angle-left"></i>
                                                            </a>
                                                        </td>

                                                    </tr>
                                                {% empty %}
                                                    <tr>
                                                        <td colspan="100">
                                                            <div class="container-not-found-base">
                                                                <p>جلسه ای یافت نشد</p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="card">
                            <div class="card-header d-flex flex-wrap border-0">
                                <div class="mb-3">
                                    <h4 class="fs-20 text-black">coming soon</h4>
                                    <p class="mb-0 fs-12">...</p>
                                </div>
                                <a href="#" class="d-none">
                                    ...
                                    <i class="far fa-arrow-left"></i>
                                </a>
                            </div>
                            <div class="card-body py-0 px-3">
                                <div class="tab-content">
                                    <div class="text-center pb-5">
                                        <h4 style="padding: 20px; background: #eee;border-radius: 10px">coming
                                            soon</h4>
                                    </div>
                                    <div class="tab-pane active show fade">
                                        <div class="table-responsive">
                                            <table class="table border-hover card-table cardtbl-link d-none">
                                                <thead>
                                                <tr>
                                                    <th class="font-95">...</th>
                                                    <th class="font-95">...</th>
                                                    <th class="font-95">...</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                    </td>
                                                    <td class="wspace-no">
                                                    </td>
                                                    <td class="wspace-no">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>