{% load static %}
<nav class="sidebar vertical-scroll  ps-container ps-theme-default ps-active-y">
    <div class="logo d-flex justify-content-between">
        <a href="{% url 'public:home' %}"><img src="{% static 'images/logo.png' %}" alt></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="fa fa-times"></i>
        </div>
    </div>
    <ul id="sidebar_menu">

        <li>
            <a class="active d-flex justify-content-between" href="{% url 'account:dashboard' %}">
                داشبورد
                <i class="fa fa-tachometer-alt p-2"></i>
            </a>
        </li>

        <li>
            <a class="active d-flex justify-content-between" href="{% url 'public:home' %}">
                خانه
                <i class="fa fa-home p-2"></i>
            </a>
        </li>

        <li>
            <a class="active d-flex justify-content-between" href="{% url 'account:logout' %}">
                خروج
                <i class="fa fa-sign-out-alt p-2"></i>
            </a>
        </li>


        <li>
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'images/dashboard/menu-icon/2.svg.xml' %}" alt>
                </div>
                <span>پروژه</span>
            </a>
            <ul>
                {% if user.is_super_admin %}
                    <li>
                        <a href="{% url 'receipt:project_dashboard_add' %}">
                            افزودن پروژه
                            <div>
                                <i class="fa fa-plus font-size-7 m-0"></i>
                                <i class="fa fa-project-diagram m-0"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'receipt:building_dashboard_add' %}">
                            افزودن ساختمان
                            <div>
                                <i class="fa fa-plus font-size-7 m-0"></i>
                                <i class="fa fa-building m-0"></i>
                            </div>
                        </a>
                    </li>
                {% endif %}
                {% if user.is_admin %}
                    <li>
                        <a href="{% url 'receipt:project_dashboard_list' %}">
                            لیست پروژه ها
                            <i class="fa fa-project-diagram"></i>
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'receipt:building_dashboard_list' %}">
                        لیست ساختمان ها
                        <i class="fa fa-building"></i>
                    </a>
                </li>
            </ul>
        </li>

        {% if user.is_admin %}
            <li>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="icon_menu">
                        <img src="{% static 'images/dashboard/menu-icon/2.svg.xml' %}" alt>
                    </div>
                    <span>کاربران</span>
                </a>
                <ul>
                    <li>
                        <a href="{% url 'account:user_add' %}">
                            افزودن کاربر
                            <i class="fa fa-user-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'account:user_list' %}">
                            لیست کاربران
                            <i class="fa fa-users"></i>
                        </a>
                    </li>
                    {% if user.is_super_admin %}
                        <li>
                            <a href="{% url 'account:user_financial_add' %}">
                                افزودن مدیر مالی
                                <i class="fa fa-user-tie"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'account:user_financial_list' %}">
                                لیست مدیران مالی
                                <i class="fa fa-users"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}

        <li>
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'images/dashboard/menu-icon/2.svg.xml' %}" alt>
                </div>
                <span>رسید ها</span>
            </a>
            <ul>
                <li>
                    <a href="{% url 'receipt:receipt_dashboard_add' %}">
                        ثبت رسید
                        <div>
                            <i class="fa fa-plus m-0 font-size-7"></i>
                            <i class="fa fa-receipt m-0"></i>
                        </div>
                    </a>
                </li>
                <li>
                    {% if user.is_admin %}
                        <a href="{% url 'receipt:receipt_dashboard_list' %}" title="رسید های ثبت شده توسط کاربران">
                            لیست رسید های کاربران
                            <i class="fa fa-receipt"></i>
                        </a>
                    {% else %}
                        <a href="{% url 'receipt:receipt_dashboard_list' %}" title="لیست رسید ها">
                            لیست رسید ها
                            <i class="fa fa-receipt"></i>
                        </a>
                    {% endif %}
                    {% if user.is_super_admin %}
                        <li>
                            <a href="{% url 'receipt:receipt_dashboard_task_list' %}">
                                رسید های ادمین
                                <div>
                                    <i class="fa fa-user m-0 font-size-7"></i>
                                    <i class="fa fa-receipt m-0"></i>
                                </div>
                            </a>
                        </li>
                    {% elif user.is_common_admin %}
                        <li>
                            <a href="{% url 'receipt:receipt_dashboard_task_list' %}">
                                رسید های مشاهده شده
                                <div>
                                    <i class="fa fa-user m-0 font-size-7"></i>
                                    <i class="fa fa-receipt m-0"></i>
                                </div>
                            </a>
                        </li>
                    {% endif %}
        </li>
    </ul>
    </li>

    <li>
        <a class="has-arrow" href="#" aria-expanded="false">
            <div class="icon_menu">
                <img src="{% static 'images/dashboard/menu-icon/2.svg.xml' %}" alt>
            </div>
            <span>اعلانات</span>
        </a>
        <ul>
            <li>
                <a href="{% url 'notification:notification_dashboard_user_personal_list' %}">
                    اعلانات شخصی
                    <div>
                        <i class="fa fa-bell"></i>
                    </div>
                </a>
            </li>
            {% if user.is_super_admin %}
                <li>
                    <a href="{% url 'notification:notification_dashboard_add' %}">
                        ایجاد اعلان عمومی
                        <div>
                            <i class="fa fa-plus m-0 font-size-7"></i>
                            <i class="fa fa-bell m-0"></i>
                        </div>
                    </a>
                </li>
            {% endif %}
            {% if user.is_admin %}
                <li>
                    <a href="{% url 'notification:notification_dashboard_user_add' %}">
                        ایجاد اعلان برای کاربر
                        <div>
                            <i class="fa fa-user m-0 font-size-7"></i>
                            <i class="fa fa-bell m-0"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'notification:notification_dashboard_list' %}">
                        لیست اعلان های عمومی
                        <div>
                            <i class="fa fa-bell m-0 font-size-7"></i>
                            <i class="fa fa-list m-0"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'notification:notification_dashboard_user_list' %}">
                        لیست اعلان های کاربران
                        <div>
                            <i class="fa fa-user m-0 font-size-7"></i>
                            <i class="fa fa-list m-0"></i>
                        </div>
                    </a>
                </li>
            {% endif %}
        </ul>
    </li>

    {% if not user.is_common_admin %}
        <li>
        <a class="has-arrow" href="#" aria-expanded="false">
            <div class="icon_menu">
                <img src="{% static 'images/dashboard/menu-icon/2.svg.xml' %}" alt>
            </div>
            <span>پشتیبانی</span>
        </a>

        <ul>
            <!-- TODO: should be completed in feature  -->
            <li class="d-none">
                <a href="{% url 'support:support_dashboard_ticket_add' %}">
                    ایجاد تیکت
                    <div>
                        <i class="fa fa-plus m-0 font-size-7"></i>
                        <i class="fa fa-ticket-alt m-0"></i>
                    </div>
                </a>
            </li>
            <li class="d-none">
                <a href="{% url 'support:support_dashboard_ticket_list_new' %}">
                    تیکت های جدید
                    <div>
                        <i class="fa fa-reply m-0 font-size-7"></i>
                        <i class="fa fa-ticket-alt m-0"></i>
                    </div>
                </a>
            </li>
            <li class="d-none">
                <a href="{% url 'support:support_dashboard_ticket_list_archive' %}">
                    تیکت های ارشیو شده
                    <i class="fa fa-ticket-alt"></i>
                </a>
            </li>
            <!-- end-feature -->

            {% if user.is_super_admin %}
                <li>
                    <a href="{% url 'support:support_dashboard_question_add' %}">
                        ایجاد پرسش
                        <div>
                            <i class="fa fa-plus m-0 font-size-7"></i>
                            <i class="fa fa-question m-0"></i>
                        </div>
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{% url 'support:support_dashboard_question_list' %}">
                    لیست پرسش ها
                    <div>
                        <i class="fa fa-list m-0 font-size-7"></i>
                        <i class="fa fa-question m-0"></i>
                    </div>
                </a>
            </li>
        </ul>
    </li>
    {% endif %}

    <li>
        <a class="has-arrow" href="#" aria-expanded="false">
            <div class="icon_menu">
                <img src="{% static 'images/dashboard/menu-icon/2.svg.xml' %}" alt>
            </div>
            <span>اطلاعات شخصی</span>
        </a>
        <ul>
            <li>
                <a href="{% url 'account:info_detail' %}">
                    مشخصات
                    <div>
                        <i class="fa fa-info"></i>
                    </div>
                </a>
            </li>
            <li>
                <a href="{% url 'account:info_change_password' %}">
                    تغییر رمز عبور
                    <div>
                        <i class="fa fa-key"></i>
                    </div>
                </a>
            </li>
            <li>
                <a href="{% url 'account:reset_password' %}">
                    <span class="font-size-12">بازیابی رمز عبور</span>
                    <div>
                        <i class="fa fa-phone m-0 font-size-7"></i>
                        <i class="fa fa-key m-0"></i>
                    </div>
                </a>
            </li>
        </ul>
    </li>
    </ul>
</nav>