{% load static %}

<div class="menu-bottom">
    <ul class="list-bottom">
        <li class="item-bottom">
            <a href="{% url 'account:profile' %}">
                <img src="{% static 'images/icons/profile.png' %}" alt="icon">
                <div class="text-white" style="font-size: 12px;">پروفایل</div>
            </a>
        </li>
        <li class="item-bottom">
            <a href="#" role="button" id="menuuuu-b">
                <img src="{% static 'images/icons/menu.png' %}" alt="icon">
                <div class="text-white" style="font-size: 12px;">منو</div>
            </a>
        </li>
        <li class="item-bottom">
            <a href="#">
                <img src="{% static 'images/icons/podcast.png' %}" alt="icon">
                <div class="text-white" style="font-size: 12px;">پادکست</div>
            </a>
        </li>
    </ul>
</div>
