{% load static %}

<div class="height-full-viewport" id="height-full-viewport-desk">
    <div id="close-menu-1">
        <span id="close" role="button">
            <img src="{% static 'images/icons/close.png' %}" alt="Close menu">
        </span>
    </div>
    <ul id="menu-menu-1" class="ms-navbar">
        <li class="menu-item"><a href="khadamat-hozori.html">خدمات حضوری</a></li>
        <li class="menu-item"><a href="ravands-behbodi-user.html">اضافه کردن روند بهبودی</a></li>
        <li class="menu-item"><a href="ticket-user.html">تیکت ها</a></li>
        <li class="menu-item"><a href="chatroom.html">چت روم</a></li>
        <li class="menu-item"><a href="Store.html">فروشگاه</a></li>
        <li class="menu-item"><a href="{% url 'account:logout' %}">خروج</a></li>
    </ul>
</div>