{% load static %}

<div class="height-full-viewport" id="height-full-viewport-mobile">
    <div id="close-menu-2">
        <span id="close-2">
          <img src="{% static 'images/icons/close.png' %}" alt="Close btn">
        </span>
    </div>
    <ul id="menu-menu-1" class="ms-navbar">
        <li class="col-4 menu-m-item" id="icon-add-rotin">
            <a href="#">
                <img src="{% static 'images/icons/skin-routine.png' %}" alt="icon">
                <div class="text-white" style="font-size: 8px;">روتین پوستی</div>
            </a>
        </li>
        <li class="col-4 menu-m-item ">
            <a href="{% url 'public:podcasts_list' %}">
                <img src="{% static 'images/icons/podcast.png' %}" alt="icon">
                <div class="text-white" style="font-size: 8px;">پادکست</div>
            </a>
        </li>
{#        <li class="col-4 menu-m-item" id="azmayesh-raygan">#}
        <li class="col-4 menu-m-item">
            <a href="{% url 'operation:tests_list' %}">
                <img src="{% static 'images/icons/test.png' %}" alt="icon">
                <div class="text-white" style="font-size: 8px;">آزمایش رایگان</div>
            </a>
        </li>
        <li class="col-4 menu-m-item">
            <a href="{% url 'service:operator_category__list' %}">
                <img src="{% static 'images/icons/kh-ho.png' %}" alt="icon">
                <div class="text-white" style="font-size: 8px;">خدمات حضوری</div>
            </a>
        </li>
        <li class="col-4 menu-m-item">
            <a href="{% url 'operation:recoveries_list' %}">
                <img src="{% static 'images/icons/ravand.png' %}" alt="icon">
                <div class="text-white" style="font-size: 8px;">روندهای بهبودی</div>
            </a>
        </li>
        <li class="col-4 menu-m-item">
            <a href="#">
                <img src="{% static 'images/icons/store.png' %}" alt="icon">
                <div class="text-white" style="font-size: 8px;">فروشگاه</div>
            </a>
        </li>
        <li class="col-4 menu-m-item">
            <a href="{% url 'communication:tickets_list' %}">
                <img src="{% static 'images/icons/ticket.png' %}" alt="icon">
                <div class="text-white" style="font-size: 8px;">تیکت ها</div>
            </a>
        </li>
        <li class="col-4 menu-m-item">
            <a href="{% url 'communication:chats_list' %}">
                <img src="{% static 'images/icons/chatroom.png' %}" alt="icon">
                <div class="text-white" style="font-size: 8px;">چت روم</div>
            </a>
        </li>
        <li class="col-4 menu-m-item">
            <a href="{% url 'account:logout' %}">
                <img src="{% static 'images/icons/close.png' %}" alt="icon">
                <div class="text-white" style="font-size: 8px;">خروج</div>
            </a>
        </li>
    </ul>
</div>
