{% extends 'base-template.html' %}
{% load static %}


{% block title %}والا | کاربران{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/user-list.css' %}">
{% endblock %}

{% block content %}
    {% include 'menus.html' %}

    <!-- Fake modal -->
    <div class="modal fade" tabindex="-1" id="addTestModal" aria-labelledby="addTestModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <form method="POST" action="{% url 'operation:add_test' %}" enctype="multipart/form-data" class="modal-content text-white border-white border-1 rounded-3"
                  style="background-color: #2d2c2c;">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title fw-semibold h4">ثبت آزمایش جدید</h5>
                    <i role="button" class="bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></i>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="user" value="{{ user.pk }}">
                    <div class="d-flex flex-column form-group">
                        <label class="form-label" style="font-size: 16px;">
                            فایل/تصویر آزمایش
                            <input type="file" name="file" accept=".pdf, image/*" class="form form-control mt-1 bg-light" required>
                        </label>
                    </div>
                    <div class="d-flex flex-column form-group">
                        <label class="form-label" style="font-size: 16px;">
                            عنوان آزمایش
                            <input type="text" name="title" class="form form-control mt-1" required style="background-color: #e1e1e1;">
                        </label>
                    </div>
                    <div class="d-flex flex-column form-group">
                        <label class="form-label" style="font-size: 16px;">
                            توضیحات مربوطه
                            <textarea name="text" class="form form-control mt-1" cols="5" style="background-color: #e1e1e1;" required></textarea>
                        </label>
                    </div>
                </div>
                <div class="modal-footer border-top-0">
                    <button type="button" class="btn btn-light fw-semibold rounded-3" data-bs-dismiss="modal" aria-label="Close">بستن</button>
                    <button type="submit" class="btn btn-light fw-semibold rounded-3">ارسال</button>
                </div>
            </form>
        </div>
    </div>
    <!-- .End Fake modal -->

    <div class="container-fluid col-md-11 bg">
        <div class="d-flex justify-content-between gap-3 px-md-4 px-3 pt-4">
            <form method="GET" style="width: 16rem;">
                <label class="w-100">
                    <span class="text-white">جستجو:</span>
                    <input type="text" name="q" value="{{ request.GET.q }}"
                           placeholder="شماره موبایل، نام خانوادگی" class="form-control">
                </label>
            </form>
            <div></div>
        </div>

        <main class="main pb-5">
            <section class="p-md-4 p-3 row" id="container-tickets">

                    <div class="table-responsive">
                        <table class="table table-dark table-striped">
                            <thead class="table-light">
                                <tr class="h5 text-center">
                                    <th scope="col">#</th>
                                    <th scope="col">نام</th>
                                    <th scope="col">نام خانوادگی</th>
                                    <th scope="col">شماره موبایل</th>
                                    <th scope="col">دسترسی‌ها</th>
                                    <th scope="col">عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in object_list %}
                                <tr class="text-center table-head-row">
                                    <th scope="row">
                                        {{ forloop.counter }}
                                    </th>
                                    <td class="text-wrap">
                                        {{ user.first_name|default:'بدون نام' }}
                                    </td>
                                    <td class="text-wrap">
                                        {{ user.last_name|default:'بدون عنوان' }}
                                    </td>
                                    <td>
                                        {{ user.get_phone_number }}
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <select class="form-select form-select-sm fw-semibold w-75">
                                                {% for access in user.access.all %}
                                                    <option class="fs-18">{{ access.get_title_label }}</option>
                                                {% empty %}
                                                    <option class="fs-18">کاربر عادی</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="{{ user.user_profile.get_absolute_url }}" class="btn btn-sm btn-info" title="مشاهده پروفایل">
                                            <i class="bi bi-eye-fill"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

            </section>
        </main>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/menus.js' %}"></script>
{% endblock %}
