{% extends 'base-template.html' %}
{% load static %}


{% block title %}
    والا | خدمات حضوری
    -
    {{ operator.name }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/khadamat-hozori.css' %}">
    <style>

    </style>
{% endblock %}

{% block body_class %}bg{% endblock %}

{% block content %}
    <!-- Include user/admin menus -->
    {% include 'menus.html' %}

    <div class="container-fluid col-md-11 pb-5">
        <main class="main">
            <div class="profile-user-category">
                <div class="inner-profile-user-category col-12">
                    <div class="logo">
                        <div class="col-7 col-md-4">
                            <img src="{% static 'images/vala-logo.png' %}" alt="Vala logo">
                        </div>
                    </div>
                    <div class="name">
                        {{ category.name }}
                    </div>
                    {% if request.user.has_perm %}
                        <div class="content-actions mt-5 mb-1 d-flex justify-content-between align-items-center col-12 col-md-5 mx-auto">
                            <div>
                                <h4>عملیات</h4>
                            </div>
                            <div>
                                <button class="btn btn-success" id="add-operator">
                                    افزودن اپراتور
                                </button>
                                <button class="btn btn-danger" id="delete-category">
                                    حذف دسته بندی
                                </button>
                            </div>
                        </div>
                    {% endif %}
                    <div class="profile-user-category mt-5">
                        <div class="inner-profile-user-category col-12 col-md-5">
                            <div class="contentfff">
                                <div class="user-category" id="container">
                                    {% for operator in category.get_operators %}
                                        <div class="col-12 p-2">
                                            <a href="{{ operator.get_absolute_url }}">
                                                <div class="item-user">
                                                    <div class="col-3 col-md-2">
                                                        <div class="image-user">
                                                            <img src="{{ operator.picture.url }}"
                                                                 alt="{{ operator.name }}">
                                                        </div>
                                                    </div>

                                                    <div class="col-9 col-md-10 nnn">
                                                        <div class="name-user">
                                                            {{ operator.name }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>

                                        </div>
                                        {% empty %}
                                        <div class="container-not-found-base p-4 fs-4">
                                            <p>اپراتوری یافت نشد</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    {% if request.user.has_perm %}

        <div class="content-modal add-operator-modal">
            <div class="inner-modal">
                <form method="POST" action="{% url 'service:operator__add' %}" enctype="multipart/form-data"
                      class="px-4 pt-2"
                      style="min-width: 300px;">
                    {% csrf_token %}
                    <div class="py-2 text-white">
                        <input type="hidden" name="category" value="{{ category.id }}">
                        <div class="title">
                            <h5>افزودن اپراتور</h5>
                            <div role="button" class="close-modal-add-post">
                                <img src="{% static 'images/icons/close-modal.png' %}" alt="Close button">
                            </div>
                        </div>
                        <label class="text-right justify-content-start w-100 mt-2">
                            نام و نام خانوادگی
                            <input type="text" name="name" placeholder="نام و نام خانوادگی"
                                   class="form-control bg-transparent text-white mt-1" required="">
                        </label>
                        <label class="text-right justify-content-start w-100 mt-2">
                            تصویر
                            <input type="file" accept="image/*" name="picture" placeholder="تصویر"
                                   class="form-control bg-transparent text-white mt-1" required="">
                        </label>
                    </div>
                    <div class="text-center mt-3" id="add-post">
                        <button type="submit" class="btn btn-success col-12">
                            ایجاد اپراتور
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="content-modal delete-operator-modal">
            <div class="inner-modal">
                <form method="POST" action="{% url 'service:operator_category__delete' category_id=category.id %}"
                      class="px-4 pt-2"
                      style="min-width: 300px;">
                    {% csrf_token %}
                    <div class="py-2 text-white">
                        <div class="title">
                            <h5>حذف دسته بندی</h5>
                            <div role="button" class="close-modal-add-post">
                                <img src="{% static 'images/icons/close-modal.png' %}" alt="Close button">
                            </div>
                        </div>
                        <h4 class="text-danger mt-3">
                            توجه کنید با حذف دسته بندی تمامی اپراتور ها و محتوای مربوط به ان حذف خواهند شد ، دقت کنید
                        </h4>
                    </div>
                    <div class="text-center mt-3" id="add-post">
                        <button type="submit" class="btn btn-danger col-12">
                            متوجه ام ، حذف دسته بندی
                        </button>
                    </div>
                </form>
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/menus.js' %}"></script>
    <script>
        // ----------------- Modal Category Add -----------------
        let btnsShowModal = document.querySelector("#add-operator");
        let btnsCloseModal = document.querySelector(".close-modal-add-post");
        let contentModals = document.querySelector(".add-operator-modal");

        btnsShowModal.addEventListener("click", () => {
            contentModals.classList.add("active");
        });

        btnsCloseModal.addEventListener("click", () => {
            contentModals.classList.remove("active");
        });
        contentModals.addEventListener("click", (e) => {
            if (e.target.className === "inner-modal")
                contentModals.classList.remove("active");
        });

        // ----------------- Modal Operator Delete -----------------
        let btnsShowModal_b = document.querySelector("#delete-category");
        let btnsCloseModal_b = document.querySelector(".close-modal-add-post");
        let contentModals_b = document.querySelector(".delete-operator-modal");

        btnsShowModal_b.addEventListener("click", () => {
            contentModals_b.classList.add("active");
        });

        btnsCloseModal_b.addEventListener("click", () => {
            contentModals_b.classList.remove("active");
        });
        contentModals_b.addEventListener("click", (e) => {
            if (e.target.className === "inner-modal")
                contentModals_b.classList.remove("active");
        });
    </script>
{% endblock %}
